<headerclient-component></headerclient-component>
<div class="body_plist">
    <div class="imgcliente">
        <div class="label prod1 top_plistproductos">CAMBIAR CONTRASEÑA</div>
    </div>
    <div class="nav">
        <div class="col-12">

            <div class="col-7 mx-auto container2">

                <div class="mx-auto">
                    <form name="userForm" ng-show="result == null">

                        <div class="form-group mt-3">
                            <label>Nueva contraseña</label>
                            <input type="password" class="form-control" 
                                   ng-class="{ 'is-invalid' : userForm.pass.$invalid && !userForm.pass.$pristine, 'is-valid': userForm.pass.$valid && !userForm.pass.$pristine}" id="pass" name="pass" ng-model="pass" ng-minlength="4" ng-required="true" />
                            <div ng-show="userForm.pass.$error.minlength" class="alert alert-danger" role="alert">
                                La longitud de la constraseña es demasiado corta
                            </div>
                            <div ng-show="!userForm.pass.$valid && !userForm.pass.$pristine && !userForm.pass.$error.minlength" class="alert alert-danger" role="alert">
                                Contraseña obligatoria
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <label>Repita la contraseña</label>
                            <input type="password" class="form-control mb-3" 
                                   ng-class="{ 'is-invalid' : userForm.passNew.$invalid && !userForm.passNew.$pristine, 'is-valid': userForm.passNew.$valid && !userForm.passNew.$pristine}" id="passNew" name="passNew" ng-model="passNew" ng-minlength="4" ng-required="true" />
                            <div ng-show="userForm.passNew.$error.minlength" class="alert alert-danger" role="alert">
                                La longitud de la constraseña es demasiado corta
                            </div>
                            <div ng-show="!userForm.passNew.$valid && !userForm.passNew.$pristine && !userForm.passNew.$error.minlength" class="alert alert-danger" role="alert">
                                Contraseña obligatoria
                            </div>
                        </div>

                    </form> 
                    <div class="row" ng-show="!edited">
                        <div class="col-12 mx-auto">
                            <div class="alert alert-success text-center" role="alert">
                                <p class="text-center mt-2"> Contraseña modificada correctamente.<p> 
                            </div>
                        </div>
                    </div>
                       <div class="row" ng-show="!error && edited">
                            <div class="col-auto mx-auto">
                                <div class="alert alert-danger" role="alert">
                                    <p class="text-center mt-2"> Las contraseñas no coinciden.<p> 
                                </div>
                            </div>
                        </div>
                    <div class="d-flex justify-content-between flex-wrap">
                        <button ng-click="update()" ng-show="edited" type="button" class="btn btn-rojo btn-block mb-3" ng-disabled="userForm.$invalid">guardar contraseña</button>
                        <button type="button" class="btn btn-primary btn-block mb-3" onclick="window.history.back()">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer d-flex mt-3">
            <div class="rrss tw"></div>
            <div class="rrss fb"></div>
            <div class="rrss in"></div>
            <div class="label_footer">PROYECTO FINAL - DAW - JAUME MONZONIS LAZARO</div>

        </div>

    </footer>

</div>


