<headerclient-component></headerclient-component>
<div class="body_plist">
    <div class="imgproductos">
        <div class="label prod1 top_plistproductos">LOGIN</div>

        <div class="row">


                <div class="col-5 mx-auto container2">
   

    <form name="userForm" ng-show="!logged" class="mx-auto p-5" style="margin-top:5%; margin-bottom: 5%; width:100%; border-radius: 2%"> 


        <div class="form-group row"> 
            <label for="login" class="col-form-label">USUARIO</label>
            <input ng-model="login" class="form-control" name="login" type="text" ng-required="true" placeholder="Login" />
        </div>

        <div class="form-group row">
            <label>Contraseña</label>
            <input type="password" class="form-control" ng-class="{' is-invalid': userForm.pass.$invalid && !userForm.pass.$pristine}"
                   id="pass" name="pass" ng-model="pass" ng-required="true" placeholder="Contraseña"/>
        </div>
        <button ng-click="logging()" class="btn btn-rojo center-block">Login</button>
      
          <div class="alert alert-danger" role="alert" ng-show="failedlogin">
                Error al logear.
            </div>
  </form>
   
     
 
       </div>
    </div>
</div>

       </div>
