<header-component></header-component>
<nav-component></nav-component>

<div class="container-fluid">
    
      <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3">


                </div>
    
  <div class="row">
    <div class="col-12">
 
      <div class="row">
            <div class="mx-auto col-md-8 col-sm-10 col-12 col-lg-5 col-xl-5 container2">
            <div class="table-responsive pl-3 pr-3 ">
                    <div class="col-8 mt-2 mx-auto">
         <h3 class="text-center mb-3"><i class="material-icons">delete_forever</i>Borrar usuarios</h3>
        </div>
                   <table class="table table-sm">
                            <tr>
                                <th class="ver">ID</th><td>{{ajaxDataUsuarios.id}}</td>
                            </tr>
                            <tr>
                                <th class="ver">Nombre</th><td>{{ajaxDataUsuarios.nombre}}</td>
                            </tr>
                            <tr>
                                <th class="ver">Primer apellido </th><td>{{ajaxDataUsuarios.ape1}}</td>
                            </tr>
                            <tr>
                                <th class="ver">Segundo apellido </th><td>{{ajaxDataUsuarios.ape2}}</td>
                            </tr>
                             <tr>
                                <th class="ver">Telefono</th><td>{{ajaxDataUsuarios.telefono}}</td>
                            </tr>
                            <tr>
                                <th class="ver">Login </th><td>{{ajaxDataUsuarios.login}}</td>
                            </tr>
                            <tr>
                                <th class="ver">Email</th><td>{{ajaxDataUsuarios.email}}</td>
                            </tr>
                            <tr>
                                <th class="ver">Dirección</th><td>{{ajaxDataUsuarios.direccion}}</td>
                            </tr>
                            <tr>
                                <th class="ver">Población</th><td>{{ajaxDataUsuarios.poblacion}}</td>
                            </tr>
                        
                            <tr>
                                <th class="ver">Tipo de usuario</th><td><a class="hover-ajena" href="tipousuario/view/{{ajaxDataUsuarios.obj_tipoUsuario.id}}">{{ajaxDataUsuarios.obj_tipoUsuario.desc}}</a></td>
                            </tr>

                        </table>
                    </div>
                  <div ng-show="msgopcioneliminar">
                       
                        <button class="btn btn-rojo btn-block mb-3" ng-click="eliminar()" ng-disabled="(eliminarok)">BORRAR</button>
                       
                    </div>

                    <button type="button" class="btn btn-primary btn-block mb-3" ng-click="volver()">Volver</button>


                </div>
            </div>
        </div>
    </div>
</div>
