<div id="viewusuariocliente" class="body_plist body_cliente">
  <div class="header d-flex">
    <div class="nav1">

        <input type="checkbox" id="menu-btn" name="Menu">
        <label id="menu-lbl" for="menu-btn"></label>
        <nav itemscope itemtype="http://schema.org/SiteNavigationElement" >
            <a class="label_white" ng-click="productos()">PRODUCTOS</a>
            <a class="label_white"  ng-click="locales()">LOCALES</a>
            <a class="label_white" ng-click="empresa()">EMPRESA</a>
            <a class="label_white" ng-click="contacto()">CONTACTO</a>
        </nav>
    </div>
    <div class="logo">
        <a href="/delivery/home">
            <img src="images/logo.png" class="logo_img" alt="Responsive image">
        </a>
    </div>
    <div class="vacio flex-grow-1"></div>
    <div class="login">
        <div class="dropleft">
            <div  class="icono_usuario dropdown-toggle" data-toggle="dropdown">
                <i class="material-icons md-48" ng-class="{'con-clase': logged}">
                    account_circle
                </i> 
            </div>
            <div class="dropdown-menu">
                <a class="dropdown-item label_white"  ng-show="!logged" href="usuario/registrarse"><i class="fas fa-user"> </i>    REGISTRARSE</a>  
                <a class="dropdown-item label_white" ng-show="!logged" href="usuario/login"><i class="fas fa-user"> </i>    LOGIN</a>
                <a class="dropdown-item label_white" ng-show="logged" href="usuario/viewusuariocliente/{{loggeduserid}}"><i class="fas fa-user"> </i>  PERFIL</a>
                <a class="dropdown-item label_white" ng-show="logged" href="factura/facturacliente/10/1/{{loggeduserid}}"><i class="fas far fa-file"></i>  VER FACTURAS</a>
                <a class="dropdown-item label_white" ng-show="logged" href="usuario/logout"><i class="fas fa-sign-out-alt"></i>  LOGOUT</a>
            </div>
        </div>
    </div>

  </div>
    <div class="imgproductos">

        <div class="label prod1 top_perfil">TU CUENTA</div>

    </div>

 <div class="navlogin2 d-flex  justify-content-center">
        <div class="container-fluid">
            <div class="row">
                <main role="main" class="col-md-12 col-sm-12 col-lg-12 px-4">
                    <div class="float-right create_btn_margin">
                        <a href="usuario/cambiarpasscliente/{{iduser}}" class="btn btn-rojo btn-sm float-right mr-3" role="button" aria-pressed="true"><i class="material-icons">
                                vpn_key</i> CAMBIAR CONTRASEÑA</a>

                    </div>
                    <div class="table-responsive container2 mb-5 pl-3 pr-3">
                        <table class="table table-sm">
                            <tr>
                                <th class="ver">Nombre</th><td>{{ajaxDataUsuarios.nombre}}</td>
                            </tr>
                            <tr>
                                <th class="ver">Primer apellido </th><td>{{ajaxDataUsuarios.ape1}}</td>
                            </tr>
                            <tr>
                                <th class="ver">Segundo apellido </th><td>{{ajaxDataUsuarios.ape2}}</td>
                            </tr>
                            <tr>
                                <th class="ver">Telefono</th><td>{{ajaxDataUsuarios.telefono}}</td>
                            </tr>
                            <tr>
                                <th class="ver">Email</th><td>{{ajaxDataUsuarios.email}}</td>
                            </tr>
                            <tr>
                                <th class="ver">Dirección</th><td>{{ajaxDataUsuarios.direccion}}</td>
                            </tr>
                            <tr>
                                <th class="ver">Población</th><td>{{ajaxDataUsuarios.poblacion}}</td>
                            </tr>
                        </table>
                    </div>

 
                    <div class="flechas_comprar">
                        <div  ng-click="volver()" class="flecha_btn"><i class="material-icons">
                                arrow_back_ios
                            </i></div>
                    </div>

                </main>

            </div>


        </div>

    </div>

    <div class="footerplist d-flex mt-3">
        <div class="rrss tw"></div>
        <div class="rrss fb"></div>
        <div class="rrss in"></div>
        <div class="label_footer">PROYECTO FINAL - DAW - JAUME MONZONIS LAZARO</div>
    </div>
</div>

