<headerclient-component></headerclient-component>
<div class="body_plist">
    <div class="imgcarrito">
        <div class="label prod1 top_plistproductos">TU PEDIDO</div>
    </div>
    <div class="nav d-flex  justify-content-center">
        <div class="container-fluid">
            <div class="row">
                <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">

                    <div class="col-md-12 ml-sm-auto col-lg-12 mt-3">
                        <div class="float-right create_btn_margin">
                            <button type="button"  class="btn btn-amarillo btn-sm  float-left" role="button" aria-pressed="true" ng-click="empty()" ng-disabled="(alert)"><i class="material-icons">
                                    delete_forever</i> VACIAR CARRITO</button>
                            <button class="btn btn-rojo btn-sm  float-left" role="button" aria-pressed="true"  ng-disabled="(alert)" ng-click="seleccion_rest()"><i class="material-icons">
                                    shopping_cart
                                </i> COMPRAR</button>
                        </div>
                    </div><div class="alert alert-success alerta_carrito_vacio" role="alert" ng-show="(alert)"> Carrito vacio</div>

                    <div class="table-responsive container2 mb-5 pl-3 pr-3" ng-if="ajaxData !== 'Carrito vacio'">

                        <table class="table table-sm">
                            <tr>
                                <th>
                                    <div>
                                        <p class="float-left">NOMBRE</p>
                                        <div class="order float-right " ng-click="ordena('nombre', 'asc')">
                                            <i class="material-icons">
                                                swap_vert
                                            </i>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <p class="float-left">PRECIO</p>
                                        <div class="order float-right " ng-click="ordena('precio', 'asc')">
                                            <i class="material-icons">
                                                swap_vert
                                            </i>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <p class="float-left">FOTO</p>
                                        <div class="order float-right " ng-click="ordena('foto', 'asc')">
                                            <i class="material-icons">
                                                swap_vert
                                            </i>
                                        </div>
                                    </div>
                                </th>

                                <th> 
                                    <p style="margin-left: 5%">ACCIONES</p> 
                                </th>
                            </tr>
                            <tr ng-repeat="fila in ajaxData track by $index">
                                <td>{{fila.obj_producto.nombre}}</td>
                                <td>{{miFormato(fila.obj_producto.precio)}}</td>
                                 <td><image style="width:50xp;height:50px" src="http://localhost:8081/images_server/{{fila.obj_producto.foto}}"/></td>
                                <td>  
                                    <span class="btn btn-just-icon btn-sm" ng-style="fila.obj_producto.existencias === fila.cantidad && {'background-color':'#dc3545'}">{{fila.cantidad}}</span>
                                    <button type="button" ng-click="add(fila.obj_producto.id)" class="btn btn-just-icon btn-sm" ng-disabled="fila.obj_producto.existencias === fila.cantidad"><i class="material-icons">
                                            add
                                        </i></button>
                                    <button type="button" ng-click="reduce(fila.obj_producto.id)"v class="btn btn-just-icon btn-sm" ng-disabled="fila.cantidad === 0"><i class="material-icons">
                                            remove
                                        </i></button>


                                </td>


                            </tr>
                        </table>
                    </div>
                    <div class="flechas_comprar">
                        <div  ng-click="volver()" class="flecha_btn mr-5"><i class="material-icons">
                                arrow_back_ios
                            </i></div>
                    </div> 
                </main>

            </div>


        </div>

    </div>

    <footer>
        <div class="footer d-flex mt-3">
            <div class="rrss tw"></div>
            <div class="rrss fb"></div>
            <div class="rrss in"></div>
            <div class="label_footer">PROYECTO FINAL - DAW - JAUME MONZONIS LAZARO</div>

        </div>

    </footer>

</div>
