<div class="body_plist">

    <div class="header d-flex">
        <div class="nav1">

            <input type="checkbox" id="menu-btn" name="Menu">
            <label id="menu-lbl" for="menu-btn"></label>
            <nav itemscope itemtype="http://schema.org/SiteNavigationElement" >
                <a class="label_white" ng-click="c.productos()">PRODUCTOS</a>
                <a class="label_white"  ng-click="c.locales()">LOCALES</a>
                <a class="label_white" ng-click="c.empresa()">EMPRESA</a>
                <a class="label_white" ng-click="c.contacto()">CONTACTO</a>
            </nav>
        </div>
        <div class="logo">
            <a href="/delivery/home">
                <img src="images/logo.png" class="logo_img" alt="Responsive image">
            </a>
        </div>
        <div class="vacio flex-grow-1">
        </div>
        <div class="login">
            <div class="dropleft">
                <div  class="icono_usuario dropdown-toggle" data-toggle="dropdown">
                    <i class="material-icons md-48" ng-class="{'con-clase': c.logged}">
                        account_circle
                    </i> 
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item label_white"  ng-show="!c.logged" href="usuario/registrarse"><i class="fas fa-user"> </i>    REGISTRARSE</a>  
                    <a class="dropdown-item label_white" ng-show="!c.logged" href="usuario/login"><i class="fas fa-user"> </i>    LOGIN</a>
                    <a class="dropdown-item label_white" ng-show="c.logged" href="usuario/viewusuariocliente/{{c.loggeduserid}}"><i class="fas fa-user"> </i>  PERFIL</a>
                    <a class="dropdown-item label_white" ng-show="c.logged" href="factura/facturacliente/10/1/{{c.loggeduserid}}"><i class="fas far fa-file"></i>  VER FACTURAS</a>
                    <a class="dropdown-item label_white" ng-show="c.logged" href="usuario/logout"><i class="fas fa-sign-out-alt"></i>  LOGOUT</a>
                </div>
            </div>
        </div>
    </div>
    <div class="imgproductos">
        <div class="label_domicilio prod4"><img src="images/paso1.png" alt="paso 1" class="paso_img"/>¿DONDE TE LO ENVIAMOS?</div>
        <div class="row">
            <div class="col-12">

                <div class="col-7 mx-auto container2 mt-4">

                    <div class=" mx-auto">
                        <form name="userForm">
                            <div class="form-row mt-3 d-flex  justify-content-center">
                                <div class="form-group mr-5">
                                    <label>DIRECCION DEL PEDIDO</label>
                                    <input type="text" class="form-control" id="dir_pedido" name="dir_pedido" ng-model="dir_pedido" ng-required="true" placeholder="Ej: C/ Juan Bosco..." />
                                    <div ng-show="!userForm.dir_pedido.$valid && !userForm.dir_pedido.$pristine" class="alert alert-danger" role="alert">
                                        Dirección obligatoria
                                    </div>
                                </div>
                                <div class="form-group ml-5">
                                    <label>MUNICIPIO DEL PEDIDO</label>
                                    <input type="text" class="form-control" id="pob_pedido" name="pob_pedido" ng-model="pob_pedido" ng-required="true" placeholder="Ej: Xirivella" />
                                    <div ng-show="!userForm.pob_pedido.$valid && !userForm.pob_pedido.$pristine" class="alert alert-danger" role="alert">
                                        Municipio obligatorio
                                    </div>
                                </div>

                        </form> 

                    </div> 
                </div>
            </div>
        </div>




</div>
<div class="label_domicilio prod4"><img ng-src="images/paso2.png" alt="paso 2" class="paso_img"/>SELECCIONA TU RESTAURANTE</div>


</div>








<div class="nav nav_domicilio d-flex  justify-content-center">
    <div id="make-3D-space">
        <div id="product-card">
            <div id="product-front-pre">
                <div class="shadow"></div>
                <img ng-src="/delivery/images/local.jpg" alt="" height="335" width="500" />
                <div class="image_overlay-pre"></div>
                <div id="view_details-pre" ng-click="comprar(prerest.id, dir_pedido, pob_pedido)">SELECCIONAR</div>
                <div class="stats">        	
                    <div class="stats-container-pre">
                        <span class="product_name-pre">{{prerest.nombre}}</span>    
                        <p>{{prerest.poblacion}}</p>                                            

                        <div class="product-options-pre">

                            <span>{{prerest.direccion}}</span>
                        </div>                       
                    </div>                         
                </div>
            </div>
        </div>	

    </div>
    <div id="make-3D-space" ng-repeat="rest in arearest">
        <div id="product-card">
            <div id="product-front-area">
                <div class="shadow"></div>
                <img ng-src="/delivery/images/local.jpg" alt="" height="335" width="500" />
                <div class="image_overlay-area"></div>
                <div id="view_details-area" ng-click="comprar(rest.id, dir_pedido, pob_pedido)">SELECCIONAR</div>
                <div class="stats">        	
                    <div class="stats-container-area">

                        <span class="product_name-area">{{rest.nombre}}</span>    
                        <p>{{rest.poblacion}}</p>                                            

                        <div class="product-options-area">

                            <span>{{rest.direccion}}</span>
                        </div>                       
                    </div>                         
                </div>
            </div>
        </div>	
    </div>

    <div id="make-3D-space" ng-repeat="rest in plistrest">
        <div id="product-card">
            <div id="product-front-plist">
                <div class="shadow"></div>
                <img ng-src="/delivery/images/local.jpg" alt="" height="335" width="500" />
                <div class="image_overlay-plist"></div>
                <div id="view_details-plist" ng-click="comprar(rest.id, dir_pedido, pob_pedido)">SELECCIONAR</div>
                <div class="stats">        	
                    <div class="stats-container-plist">     
                        <span class="product_name-plist">{{rest.nombre}}</span>    
                        <p>{{rest.poblacion}}</p>                                            

                        <div class="product-options-plist">

                            <span>{{rest.direccion}}</span>
                        </div>                       
                    </div>                         
                </div>
            </div>
        </div>	
    </div>
















</div> 
    <div class="flechas d-flex justify-content-center">
        <div  ng-click="volver()" class="flecha_btn float-left mr-5"><i class="material-icons">
                arrow_back_ios
            </i></div>
    </div>
    <div class="footerplist d-flex mt-3">
        <div class="rrss tw"></div>
        <div class="rrss fb"></div>
        <div class="rrss in"></div>
        <div class="label_footer">PROYECTO FINAL - DAW - JAUME MONZONIS LAZARO</div>
    </div>


</div>