<div id="empresa" class="body_plist">
  <div class="header d-flex">
    <div class="nav1">

        <input type="checkbox" id="menu-btn" name="Menu">
        <label id="menu-lbl" for="menu-btn"></label>
        <nav itemscope itemtype="http://schema.org/SiteNavigationElement" >
            <a class="label_white" ng-click="productos()">PRODUCTOS</a>
            <a class="label_white"  ng-click="locales()">LOCALES</a>
            <a class="label_white" ng-click="empresa()">EMPRESA</a>
            <a class="label_white" ng-click="contacto()">CONTACTO</a>
        </nav>
    </div>
    <div class="logo">
        <a href="/delivery/home">
            <img src="images/logo.png" class="logo_img" alt="Responsive image">
        </a>
    </div>
    <div class="vacio flex-grow-1"></div>
    <div class="login">
        <div class="dropleft">
            <div  class="icono_usuario dropdown-toggle" data-toggle="dropdown">
                <i class="material-icons md-48" ng-class="{'con-clase': logged}">
                    account_circle
                </i> 
            </div>
            <div class="dropdown-menu">
                <a class="dropdown-item label_white"  ng-show="!logged" href="usuario/registrarse"><i class="fas fa-user"> </i>    REGISTRARSE</a>  
                <a class="dropdown-item label_white" ng-show="!logged" href="usuario/login"><i class="fas fa-user"> </i>    LOGIN</a>
                <a class="dropdown-item label_white" ng-show="logged" href="usuario/viewusuariocliente/{{loggeduserid}}"><i class="fas fa-user"> </i>  PERFIL</a>
                <a class="dropdown-item label_white" ng-show="logged" href="factura/facturacliente/10/1/{{loggeduserid}}"><i class="fas far fa-file"></i>  VER FACTURAS</a>
                <a class="dropdown-item label_white" ng-show="logged" href="usuario/logout"><i class="fas fa-sign-out-alt"></i>  LOGOUT</a>
            </div>
        </div>
    </div>

  </div>
    <div class="imgproductos">

        <div class="label prod1 top_plistproductos">NUESTRA EMPRESA</div>

    </div>
    <div class="nav d-flex  justify-content-center">
        <div class="container-fluid">
            <div class="row">
                <main role="main" class="col-md-12 col-sm-12 col-lg-12 px-4">
                    <div class="table-responsive container2 mb-5 pl-3 pr-3">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12 col-lg-8 col-xl-8 pt-4 pl-4 pr-4 pb-4 text-justify">
                                Nuestra carne es natural y fresca (no se congela) y de mucha calidad. Utilizamos cortes de vaca española que sólo pasamos una vez por el aro grueso de la picadora. Nuestras salsas son propias, y las hacemos en cada restaurante (nada de aditivos raros). El pan es artesano, nos lo hacen unos amigos panaderos y nosotros antes de servirlo, lo doramos a la perfección.
                                <br/><br/>
                                Todas las hamburguesas, vienen acompañadas de patatas naturales que llegan en sacos al local y en las que se invierten varias horas cada día para que tengan un estilo rústico, dorado y muy crujiente por fuera pero muy suave por dentro. En cada restaurante tenemos a un especialista que las mima, las corta, lava, pocha y fríe en aceite de girasol. Un trabajazo que vale la pena.
                            </div>
                            <div class="col-md-12 col-sm-12 col-12 col-lg-4 col-xl-4 pt-5 pl-4 pr-4 pb-4">
                                <img src="images/empresa1.jpg" alt="nuestra empresa" class="img-fluid"/>
                            </div>
                        </div>
                    </div>
                    <div class="container2 mb-5 pl-3 pr-3">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12 col-lg-4 col-xl-4 pt-5 pl-4 pr-4 pb-4">
                                <img src="images/empresa2.jpg" alt="nuestra empresa" class="img-fluid"/>
                            </div>
                            <div class="col-md-12 col-sm-12 col-12 col-lg-8 col-xl-8 pt-4 pl-4 pr-4 pb-4 text-justify">
                                Tan importante como el punto de la carne o la temperatura del pan es el ambiente que se transmite en cada uno de los restaurantes de EAT IT. Y es que nuestro equipo no se conforma de cocineros y camareros, sino que con el buen rollo que hay dentro de los locales ha pasado a ser la FAMILIA, un buen ambiente que se transmite hasta el cliente.
                                <br/><br/>
                                El ambiente de EAT IT lo hace su gente, y su staff sabe que es el ingrediente secreto. Un impecable servicio deja una buena sensación que llega a todos los rincones, sintiéndose especialmente fuerte en las redes sociales. Twitter, Facebook, Instagram, Tripadvisor y Google se han convertido en piezas fundamentales del difusión del boca-boca de EAT IT.
                                
                            </div>

                        </div>
                    </div>


                </main>
            </div>
        </div>



    </div>

    <div class="footerplist d-flex mt-3">
        <div class="rrss tw"></div>
        <div class="rrss fb"></div>
        <div class="rrss in"></div>
        <div class="label_footer">PROYECTO FINAL - DAW - JAUME MONZONIS LAZARO</div>
    </div>
</div>


