<div class="body_plist">
  <div class="header d-flex">
    <div class="nav1">

        <input type="checkbox" id="menu-btn" name="Menu">
        <label id="menu-lbl" for="menu-btn"></label>
        <nav itemscope itemtype="http://schema.org/SiteNavigationElement" >
            <a class="label_white" ng-click="productos()">PRODUCTOS</a>
            <a class="label_white"  ng-click="locales()">LOCALES</a>
            <a class="label_white" ng-click="empresa()">EMPRESA</a>
            <a class="label_white" ng-click="contacto()">CONTACTO</a>
        </nav>
    </div>
    <div class="logo">
        <a href="/delivery/home">
            <img src="images/logo.png" class="logo_img" alt="Responsive image">
        </a>
    </div>
    <div class="vacio flex-grow-1"></div>
    <div class="login">
        <div class="dropleft">
            <div  class="icono_usuario dropdown-toggle" data-toggle="dropdown">
                <i class="material-icons md-48" ng-class="{'con-clase': logged}">
                    account_circle
                </i> 
            </div>
            <div class="dropdown-menu">
                <a class="dropdown-item label_white"  ng-show="!logged" href="usuario/registrarse"><i class="fas fa-user"> </i>    REGISTRARSE</a>  
                <a class="dropdown-item label_white" ng-show="!logged" href="usuario/login"><i class="fas fa-user"> </i>    LOGIN</a>
                <a class="dropdown-item label_white" ng-show="logged" href="usuario/viewusuariocliente/{{loggeduserid}}"><i class="fas fa-user"> </i>  PERFIL</a>
                <a class="dropdown-item label_white" ng-show="logged" href="factura/facturacliente/10/1/{{loggeduserid}}"><i class="fas far fa-file"></i>  VER FACTURAS</a>
                <a class="dropdown-item label_white" ng-show="logged" href="usuario/logout"><i class="fas fa-sign-out-alt"></i>  LOGOUT</a>
            </div>
        </div>
    </div>

  </div>
    <div class="imgproductos">

        <div class="label prod1 top_plistproductos">TU PEDIDO</div>

    </div>

    <div class="navlogin d-flex  justify-content-center">
        <div class="container-fluid">
            <div class="row">
                <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">

                    <div class="col-md-12 ml-sm-auto col-lg-12">
                        <div class="float-right create_btn_margin">

                            <button class="btn btn-rojo btn-sm  float-left" role="button" aria-pressed="true"   ng-click="pdf()"><i class="material-icons">
                                    print
                                </i> IMPRIMIR FACTURA</button>
                        </div>
                    </div>

                    <div class="table-responsive container2 pl-3 pr-3">

                        <table class="table table-sm">
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Precio(€)
                                <th>
                                    Cantidad
                                </th>
                                <th>
                                    IVA
                                </th>
                                <th>
                                    Precio Final
                                </th>
                            <tr ng-repeat="fila in ajaxData">
                                <td>{{fila.obj_Producto.nombre}}</td>
                                <td>{{miFormato(fila.obj_Producto.precio)}}</td> 
                                <td>{{fila.cantidad}}</td>  
                                <td>{{fila.obj_Factura.iva}}</td>
                                <td>{{miFormato(((fila.obj_Factura.iva / 100) * fila.obj_Producto.precio) + fila.obj_Producto.precio)}} €</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td> 
                                <td style='font-weight: bold;'>TOTAL</td>
                                <td>{{miFormato(total)}} €</td>
                            </tr>
                        </table>
                    </div>

                </main>

            </div>


        </div>

    </div>
    <div class="flechas d-flex justify-content-center">
        <div  ng-click="volver()" class="flecha_btn float-left mr-5"><i class="material-icons">
                arrow_back_ios
            </i></div>
    </div>
    <div class="footerplist d-flex mt-3">
        <div class="rrss tw"></div>
        <div class="rrss fb"></div>
        <div class="rrss in"></div>
        <div class="label_footer">PROYECTO FINAL - DAW - JAUME MONZONIS LAZARO</div>
    </div>
</div>

