<div id="locales" class="body_plist">
  <div class="header d-flex">
    <div class="nav1">

        <input type="checkbox" id="menu-btn" name="Menu">
        <label id="menu-lbl" for="menu-btn"></label>
        <nav itemscope itemtype="http://schema.org/SiteNavigationElement" >
            <a class="label_white" ng-click="productos()">PRODUCTOS</a>
            <a class="label_white"  ng-click="locales()">LOCALES</a>
            <a class="label_white" ng-click="empresa()">EMPRESA</a>
            <a class="label_white" ng-click="contacto()">CONTACTO</a>
        </nav>
    </div>
    <div class="logo">
        <a href="/delivery/home">
            <img src="images/logo.png" class="logo_img" alt="Responsive image">
        </a>
    </div>
    <div class="vacio flex-grow-1"></div>
    <div class="login">
        <div class="dropleft">
            <div  class="icono_usuario dropdown-toggle" data-toggle="dropdown">
                <i class="material-icons md-48" ng-class="{'con-clase': logged}">
                    account_circle
                </i> 
            </div>
            <div class="dropdown-menu">
                <a class="dropdown-item label_white"  ng-show="!logged" href="usuario/registrarse"><i class="fas fa-user"> </i>    REGISTRARSE</a>  
                <a class="dropdown-item label_white" ng-show="!logged" href="usuario/login"><i class="fas fa-user"> </i>    LOGIN</a>
                <a class="dropdown-item label_white" ng-show="logged" href="usuario/viewusuariocliente/{{loggeduserid}}"><i class="fas fa-user"> </i>  PERFIL</a>
                <a class="dropdown-item label_white" ng-show="logged" href="factura/facturacliente/10/1/{{loggeduserid}}"><i class="fas far fa-file"></i>  VER FACTURAS</a>
                <a class="dropdown-item label_white" ng-show="logged" href="usuario/logout"><i class="fas fa-sign-out-alt"></i>  LOGOUT</a>
            </div>
        </div>
    </div>

  </div>
    <div class="imgproductos">

        <div class="label prod1 top_ensaladas">NUESTROS RESTAURANTES</div>

    </div>

        <div class="nav d-flex  justify-content-center">
        <div id="make-3D-space">
            <div id="product-card">
                <div id="product-front-pre">
                    <div class="shadow"></div>
                    <img ng-src="/delivery/images/local.jpg" alt="" height="335" width="500" />
                    <div class="image_overlay-pre"></div>
             
                    <div class="stats">        	
                        <div class="stats-container-pre">
                            <span class="product_name-pre">{{prerest.nombre}}</span>    
                            <p>{{prerest.poblacion}}</p>                                            

                            <div class="product-options-pre">

                                <span>{{prerest.direccion}}</span>
                            </div>                       
                        </div>                         
                    </div>
                </div>
            </div>	

        </div>
        <div id="make-3D-space" ng-repeat="rest in arearest">
            <div id="product-card">
                <div id="product-front-area">
                    <div class="shadow"></div>
                    <img ng-src="/delivery/images/local.jpg" alt="" height="335" width="500" />
                    <div class="image_overlay-area"></div>
                 
                    <div class="stats">        	
                        <div class="stats-container-area">

                            <span class="product_name-area">{{rest.nombre}}</span>    
                            <p>{{rest.poblacion}}</p>                                            

                            <div class="product-options-area">

                                <span>{{rest.direccion}}</span>
                            </div>                       
                        </div>                         
                    </div>
                </div>
            </div>	
        </div>

        <div id="make-3D-space" ng-repeat="rest in plistrest">
            <div id="product-card">
                <div id="product-front-plist">
                    <div class="shadow"></div>
                    <img ng-src="/delivery/images/local.jpg" alt="" height="335" width="500" />
                    <div class="image_overlay-plist"></div>
             
                    <div class="stats">        	
                        <div class="stats-container-plist">     
                            <span class="product_name-plist">{{rest.nombre}}</span>    
                            <p>{{rest.poblacion}}</p>                                            

                            <div class="product-options-plist">

                                <span>{{rest.direccion}}</span>
                            </div>                       
                        </div>                         
                    </div>
                </div>
            </div>	
        </div>

    </div> 
    <div class="flechas d-flex justify-content-center">
        <div  ng-click="volver()" class="flecha_btn float-left"><i class="material-icons">
                arrow_back_ios
            </i></div>
    </div>
    <div class="footerplist d-flex mt-3">
        <div class="rrss tw"></div>
        <div class="rrss fb"></div>
        <div class="rrss in"></div>
        <div class="label_footer">PROYECTO FINAL - DAW - JAUME MONZONIS LAZARO</div>
    </div>
</div>

