<div id="opcion" class="body_plist">

    <div class="header d-flex">
        <div class="nav1">

            <input type="checkbox" id="menu-btn" name="Menu">
            <label id="menu-lbl" for="menu-btn"></label>
            <nav itemscope itemtype="http://schema.org/SiteNavigationElement" >
                <a class="label_white" ng-click="productos()">PRODUCTOS</a>
                <a class="label_white"  ng-click="locales()">LOCALES</a>
                <a class="label_white" ng-click="empresa()">EMPRESA</a>
                <a class="label_white" ng-click="contacto()">CONTACTO</a>
            </nav>
        </div>
        <div class="logo">
            <a href="/delivery/home">
                <img src="images/logo.png" class="logo_img" alt="Responsive image">
            </a>
        </div>
        <div class="vacio flex-grow-1">
        </div>
        <div class="login">
            <div class="dropleft">
                <div  class="icono_usuario dropdown-toggle" data-toggle="dropdown">
                    <i class="material-icons md-48" ng-class="{'con-clase': logged}">
                        account_circle
                    </i> 
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item label_white"  ng-show="!logged" href="usuario/registrarse"><i class="fas fa-user"> </i>    REGISTRARSE</a>  
                    <a class="dropdown-item label_white" ng-show="!logged" href="usuario/login"><i class="fas fa-user"> </i>    LOGIN</a>
                    <a class="dropdown-item label_white" ng-show="logged" href="usuario/viewusuariocliente/{{loggeduserid}}"><i class="fas fa-user"> </i>  PERFIL</a>
                    <a class="dropdown-item label_white" ng-show="logged" href="factura/facturacliente/10/1/{{loggeduserid}}"><i class="fas far fa-file"></i>  VER FACTURAS</a>
                    <a class="dropdown-item label_white" ng-show="logged" href="usuario/logout"><i class="fas fa-sign-out-alt"></i>  LOGOUT</a>
                </div>
            </div>
        </div>
    </div>
    <div class="imgproductos">

         <div class="label prod1 top_ensaladas">¿TE LO LLEVAMOS A CASA</div>
        <div class="label prod1 sandwiches">O LO RECOGES EN NUESTROS LOCALES?</div>

    </div>

    <div class="nav d-flex justify-content-center">

        <div id="make-3D-space">
            <div id="product-card">
                <div id="product-front">
                    <div class="shadow"></div>
                    <img ng-src="images/opcion_domicilio.jpeg" alt="" height="335" width="500" />
                    <div class="image_overlay"></div>
                    <div id="view_details" ng-click="domicilio()">SELECCIONAR</div>
                    <div class="stats">        	
                        <div class="stats-container">
                            <span class="product_name">DOMICILIO</span>    
                            <p>Te llevamos tu pedido a casa.</p>                                            

                            <div class="product-options">
                                <span> Puedes seleccionar tu restaurante favorito y te entregaremos lo más brevemente posible tus hamburgesas.</span>
                            </div>                       
                        </div>                         
                    </div>
                </div>
            </div>	
        </div>
        <div id="make-3D-space">
            <div id="product-card">
                <div id="product-front">
                    <div class="shadow"></div>
                    <img src="images/opcion_local.jpeg" alt="" height="335" width="500" />
                    <div class="image_overlay"></div>
                    <div id="view_details" ng-click="local()">SELECCIONAR</div>
                    <div class="stats">        	
                        <div class="stats-container">
                            <span class="product_name">LOCAL</span>    
                            <p>Recogelo en nuestros restaurantes.</p>                                            

                            <div class="product-options">
                                <span>Selecciona tu restaurante favorito y recogelo en la zona EAT AUTO, te esperamos!</span>
                            </div>                       
                        </div>                         
                    </div>
                </div>
            </div>	
        </div>
    </div>
    <div class="flechas d-flex justify-content-center">
        <div  ng-click="volver()" class="flecha_btn float-left mr-5"><i class="material-icons">
                arrow_back_ios
            </i></div>
    </div>
    <div class="footerplist d-flex mt-3">
        <div class="rrss tw"></div>
        <div class="rrss fb"></div>
        <div class="rrss in"></div>
        <div class="label_footer">PROYECTO FINAL - DAW - JAUME MONZONIS LAZARO</div>
    </div>
</div>

