<headerclient-component></headerclient-component>
<div class="body_plist">
    <div class="imgproductos">
        <div class="label prod1 top_plistproductos">HAMBUR</div>
        <div class="label prod1">GUESAS</div>
        <div class="icon_cart"><img src="images/icon_cart.png" alt="añadir al carrito" class="img_cart" ng-click="carrito()" ng-show="alert"/></div>
    </div>
    <div class="nav d-flex  justify-content-center">

        <div id="make-3D-space" ng-repeat="fila in ajaxData">
            <div id="product-card">
                <div id="product-front">
                    <div class="shadow"></div>
                    <img src="images/clasica.jpg" alt="" height="335" width="500" />
                    <div class="image_overlay"></div>
                    <div id="view_details" ng-click="comprar(fila.id)" ng-show="!stock">COMPRAR</div>
                    <div class="stats">        	
                        <div class="stats-container">
                            <span class="product_price">{{fila.precio}}€</span>
                            <span class="product_name">{{fila.nombre}}</span>    
                            <p>{{fila.obj_tipoProducto.desc}}</p>                                            

                            <div class="product-options">

                                <span>{{fila.desc}}</span>
                            </div>                       
                        </div>                         
                    </div>
                </div>
            </div>	

        </div>
        <div class="flechas">
            <div  ng-click="volver()" class="flecha_btn float-left mr-5"><i class="material-icons">
                    arrow_back_ios
                </i></div>
            <div ng-click="avanzar()" class="flecha_btn float-right ml-5"><i class="material-icons">
                    arrow_forward_ios
                </i></div>
        </div>
    </div>    
    <footer>
        <div class="footer d-flex mt-3">
            <div class="rrss tw"></div>
            <div class="rrss fb"></div>
            <div class="rrss in"></div>
            <div class="label_footer">PROYECTO FINAL - DAW - JAUME MONZONIS LAZARO</div>

        </div>

    </footer>

