<headerclient-component></headerclient-component>
<div class="body2">
    <div class="imgproductos">
        <div class="label prod1 top_plistproductos">HAMBUR</div>
        <div class="label prod1">GUESAS</div>
        <div class="label prod2">BEBIDAS</div>
        <div class="label prod3">POSTRES</div>
    </div>
    <div class="nav d-flex  justify-content-center">

        <div id="make-3D-space" ng-repeat="fila in ajaxData">
            <div id="product-card">
                <div id="product-front">
                    <div class="shadow"></div>
                    <img src="/delivery/images/clasica.jpg" alt="" height="335" width="500" />
                    <div class="image_overlay"></div>
                    <div id="view_details" ng-click="comprar(fila.id)">COMPRAR</div>
                    <div class="stats">        	
                        <div class="stats-container">
                            <span class="product_price">{{fila.precio}}€</span>
                            <span class="product_name">{{fila.nombre}}</span>    
                            <p>{{fila.obj_tipoProducto.desc}}</p>                                            

                            <div class="product-options">

                                <span>{{fila.desc}}</span>
                            </div>                       
                        </div>                         
                    </div>
                </div>
            </div>	
        </div>	
    </div>
    <footer>
        <div class="footer d-flex mt-3">
            <div class="rrss tw"></div>
            <div class="rrss fb"></div>
            <div class="rrss in"></div>
            <div class="label_footer">PROYECTO FINAL - DAW - JAUME MONZONIS LAZARO</div>

        </div>

    </footer>
</div>
