<header-component></header-component>
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4" style="margin-top: 50px">
            <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Selecciona restaurante</h1>
            </div>


            <div class="table-responsive" style="text-align: center;">
            <table class="table table-sm">
                 RESTAURANTE predeterminado
                            <tr>
                                <th class="ver">ID</th><td>{{prerest.id}}</td>
                            </tr>
                            <tr>
                                <th class="ver">NOMBRE</th><td>{{prerest.nombre}}</td>
                            </tr>
                             <tr>  <button type="button" rel="tooltip" class="btn btn-just-icon btn-sm" ng-click="buy(prerest.id)">
                                    <i class="material-icons">create</i>
                                </button></tr>
                        </table>
                <table class="table table-striped table-sm tabla">
                    <th>
                        RESTAURANTE PLIST
                    </th>          
                    <tr ng-repeat="fila in plistrest track by $index">
                        <td>{{fila.id}}</td>
                        <td>{{fila.nombre}}</td>
                        <td>  <button type="button" rel="tooltip" class="btn btn-just-icon btn-sm" ng-click="buy(fila.id)">
                                    <i class="material-icons">create</i>
                                </button></td>
                    </tr>
                </table>

                <table class="table table-striped table-sm tabla">
                    <th>
                        RESTAURANTE AREA
                    </th>      
                    <tr ng-repeat="fila in arearest track by $index">
                        <td>{{fila.id}}</td>
                        <td>{{fila.nombre}}</td>
                         <td>  <button type="button" rel="tooltip" class="btn btn-just-icon btn-sm" ng-click="buy(fila.id)">
                                    <i class="material-icons">create</i>
                                </button></td>
                    </tr>
                </table>
            </div>
        </main>

    </div>
</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>


