
/**************** SCSS CLIENTE DESPLEGABLE *******************/
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin transition($property, $duration, $ease){
    -webkit-transition: $property $duration $ease;
    -moz-transition: $property $duration $ease;
    -o-transition: $property $duration $ease;
    transition: $property $duration $ease;
}

$rojo: #A62B21;
$amarillo: #F9B157;
$azulclaro: #48cfad;

$laptop: 1440px;
$notebook: 1024px;
$tablet: 769px;
$smartphoneL: 576px;
$smartphoneS: 480px;

/* NAV*/
.nav1, .logo, .login {
    height:12vh;
    width:7vw;

    @media (min-width: $notebook) {
        height: 9vh;
    }
    @media (min-width: $tablet) {
        height: 7vh;
    }
    @media (min-width: $smartphoneL) {
        height: 6vh;
    }

}
.nav1 {
    background-color:#A62B21;

}
.logo {
    background-color:#F9B157;

}
.logo_img{
    height: 100%;
    width: 100%;
    display:block;
    margin:auto;
}
.logo_adm{
    height: 12%;
    width: 12%;

}
.login {
    background-color:#A62B21;
    float: right !important;
}
/* boton usuario*/
.label {
    font-size: 350%;
    margin-bottom: -1%;
    font-weight: 900;
    opacity: 0.7;
}
.label.prod1.top{
    margin-top:12%;
}
.label.prod1.top_plistproductos{
    margin-top:5%;
}

.top_ensaladas{
    font-size: 300% !important;
    margin-top: 1%;
}
.sandwiches{
    font-size: 300% !important;
}
.label.prod1{
    color: #F9B157;
}
.label.prod2{
    color: #A62B21;
}
.label.prod3{
    color: #055969;
}


.icono_usuario{
    height:15vh !important;

}

.dropdown-menu.show, .dropdown-menu{
    /*    left:-60% !important;
        top:-24% !important;*/
    transform: translate3d(-100%, 0px, 0px)!important;
    color: white !important;
    font-weight: 900;
    background-color: #F9B157;
    font-size: 20px;
    border-radius: 0px !important;
}
.dropdown-item.label_white:hover{
    background-color: #F9B157 !important;
    color: #A62B21 !important;
}
.material-icons.md-48{
    font-size:3vw;
    padding-left: 30%;
    padding-top: 19%;
    color: white;
}

.dropleft .dropdown-toggle::before{
    content: none !important;
}

/* desplegable*/
nav {
    position: relative;
    padding: 0;
    display: block;
    width: 20%;
    background: #F9B157;
    height: 0px;
    transition: all 0.1s ease;
    overflow-y: hidden;
}
nav>a {
    display: block;
    height: 30px;
    color: #D4380A;
    padding: 8% 5%;
    text-decoration: none;
    font-size: 25px;
    transition: all 0.3s ease;
    @media (min-width: 1200px) {
         height: 44px;
        padding: 8% 5%;
        font-size: 35px; 
    }
    @media (min-width: $notebook) {
         height: 37px;
        padding: 8% 5%;
        font-size: 26px; 
    }
    @media (min-width: $tablet) {
         height: 30px;
        padding: 8% 5%;
        font-size: 22px; 
    }
    @media (max-width: $smartphoneL) {
        height: 20px;
        padding: 8% 5%;
        font-size: 13px; 
    }

}

nav>a:hover {
    color: #A62B21 !important;
}

input#menu-btn {
    opacity: 0;
    display:none;
} 
label#menu-lbl {
    display: flex;
    padding: 0;
    margin-left: 25%;
    margin-top:15%;
    width: 38px;
    height: 38px;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
}
label#menu-lbl:hover {
    opacity: 0.7;
}
input#menu-btn + label::before,
input#menu-btn + label::after {
    z-index: 100;
    position: absolute;
    content: "";
    width: 3%;
    height: 4px;
    background: white;
    margin: 2% 0 0;
    box-shadow: 0px -10px white, 0px 10px white;
    transition: all 0.15s ease-in;
}
input#menu-btn:checked + label::before {
    border: none;
    box-shadow: none;
    transform: rotate(45deg);
}
input#menu-btn:checked + label::after {
    border: none;
    box-shadow: none;
    transform: rotate(-45deg);
}
#menu-btn:checked + #menu-lbl + nav {
    display: block;
    height: calc(30vh);
    width: 280%;
    z-index: 1;
    margin-top: 20%;

@media (min-width: $notebook) {
         height: calc(24vh);
        width: 264%;
        margin-top: 26%;
}
@media (min-width: $tablet) {
     height: calc(20vh);
        width: 293%;
        margin-top: -3%;
}
@media (min-width: $smartphoneL) {
        height: calc(13vh);
        width: 234%;
        margin-top: -17%;
}

}

.label_white{
    color: white !important;
    font-weight: 900;
}

/*  usuario logeado*/
.con-clase{
    color: #F9B157 !important;
    animation: zoominoutsinglefeatured 2s 1 !important;
    font-size: 4vw !important;
    padding-left: 20% !important;
    padding-top: 15% !important;
}
.con-clase:hover{
    color: white !important;
}

.viewusuariocliente{
    margin-top: 13% !important;
}

.navlogin{
    grid-area: 2/2/3/3;
    margin-top: 10%;
    min-height: 46vh;
}
.navlogin2{
    grid-area: 2/2/3/3;
    margin-top: 6%;
    min-height: 46vh;
}

.navcontrasena {
    grid-area: 2/2/3/3;
    margin-top: 14%;
    min-height: 46vh;
}

.navlinea {
    grid-area: 2/2/3/3;
    margin-top: 10%;
    min-height: 60vh;
}

.top_perfil{
    margin-top: 1%;
}

.nav_registrarse{
    margin-top: 8% !important;  
}

.navperfil{
    grid-area: 1/2/2/3;
    margin-top: 4%;
}
.navpass{
    grid-area: 1/2/2/3;
    margin-top: 9%;
}
.rest_homeadm{
    left: 8%!important;  

}

.top_plistperfil{
    margin-top: 0%;
}
.header{
    grid-area: 1 / 1 / 2 / 4;  

}