@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin transition($property, $duration, $ease){
    -webkit-transition: $property $duration $ease;
    -moz-transition: $property $duration $ease;
    -o-transition: $property $duration $ease;
    transition: $property $duration $ease;
}
$laptop: 1440px;
$notebook: 1024px;
$tablet: 769px;
$smartphoneL: 480px;
$smartphoneS: 320px;


$rojo: #A62B21;
$amarillo: #F9B157;
$azulclaro: #48cfad;

html *{
    font-family: 'Convergence', sans-serif;
    box-sizing: border-box;
    max-width:100vw;
}
body {
    background-color: white;
    max-width:100vw;
}

.contain{
    margin-bottom: 5%;
}


a {
    color: #3e3947 !important;
    text-decoration: none;

    &:hover{
        color: white !important;
        text-decoration: none !important;
    }
    &:focus {
        color: #89229b !important;
        text-decoration: none !important;
    }

}


.container-fluid{
    margin-bottom: 1%;
    @media (max-width: 769px) {
        margin-bottom: 0%;
    }
}

.container2 {
    background-color: white !important;
    border: 10px $amarillo solid;
    height: auto;

}


/* botones acciones */

.order{
    color: $amarillo;
    background-color: white !important;
    border: none;
    height: 10px; 

}
.btn-toolbar{

    margin-left: 0%;
}

.btn-group{
    position: relative;
    margin: 10px 1px;
    display: inline-flex;
    vertical-align: middle;
}
.btn-group .btn{
    padding: 6.5px 20px !important;
}
.btn.btn-round{
    border-radius: 30px !important;
}

.btn-group .btn.btn-round{
    border-radius: 30px !important;
}

.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.btn-group>.btn:not(:first-child) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.btn{
    padding: 12px 30px !important;
    margin: 5px 1px;
    font-size: 12px;
    box-shadow: 0 2px 2px 0 hsla(0,0%,60%,.14), 0 3px 1px -2px hsla(0,0%,60%,.2), 0 1px 5px 0 hsla(0,0%,60%,.12);
    background-color: #21778F !important;
    color: white !important;
    & .material-icons{
        position: relative;
        display: inline-block;
        top: 0;
        margin-top: -1.2em;
        margin-bottom: -1em;
        font-size: 1.1rem;
        vertical-align: middle;
    }
}

.btn.btn-sm{
    border-radius:3px !important;
}

.btn.btn-just-icon.btn-sm { 
    @include size (30px,30px);
    min-width: 30px;
}

.btn.btn-just-icon {
    font-size: 24px;
    @include size (41px,41px);
    min-width: 41px;
    padding: 0 !important;
    overflow: hidden;
    position: relative;
    line-height: 41px;
}

.btn.btn-just-icon.btn-round {
    border-radius: 50% !important;
}


.btn.btn-just-icon .material-icons {
    margin-top: 0;
    position: absolute;
    @include size (100%,100%);
    transform: none;
    left: 0;
    top: 0;
    line-height: 41px;
    font-size: 20px;
}

.btn.btn-just-icon.btn-sm .material-icons {
    font-size: 17px; 
    line-height: 29px; 
}

.btn-outline-secondary {
    border-color: $rojo !important;
    color: $rojo !important;
}

.btn-rojo{

    background-color: $rojo !important;  
}


.hover-ajena:hover {
    color: $amarillo !important;
}

.create_btn_margin{
    margin-right:-17px !important;
    @media (max-width: 480px) {
        padding-left: 73px;
    padding-top: 38px;
    }
       @media (max-width: 320px) {
        padding-left: 0px;
      margin-right:0px !important;
    }
}
/* tabla */
.table > tbody > tr > td{
    vertical-align: middle;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table th{
    border-top: none !important;
    vertical-align: middle;
    text-transform: uppercase;
}
.form-group>label{
    text-transform: uppercase; 
}
.table {
    width: 100%;
    max-width: 100%;
    text-align: center;
    background-color: transparent;
    vertical-align: middle;
    & .ver{
        border-top: 1px solid #dee2e6 !important;
    }
}

th {
    font-size: 14px;
    color:  $rojo;
    text-align: center !important;
}



td{
    vertical-align: middle;
    border-color: $amarillo;
    font-weight: 100;
    font-size:14px;
    color: #3c4858;
}
h4, h3{
    text-transform: uppercase;
}









/*paginacion y registros por pagina*/

select{
    width: 21% !important;
    color: $amarillo !important;
}

.selectMunicipio{
    width: 100% !important;
    color: #495057 !important;
}


.form-size{
    font-size: 70% !important; 
    width: 25% !important;  
    color: $rojo !important;
    border: 1px solid $amarillo !important;
    margin-right: 12% !important;
}

.reseticon{
    margin-left: -5% !important;
}

.pagination{
    color: $amarillo !important;
    padding-top: 4%;

}

.page-link{
    background-color: $amarillo !important;
    color: $rojo !important;

}
.active{

    opacity: 0.8 !important;
}

.row_etiquetas{
    margin-right: -9%;
}

.text-pagination {
    color: #21778F !important;
    &:hover {
        color: $rojo !important;
    }
}

.menu_selection{
    margin: 1% auto auto auto !important;
}
.menu_selection2{
    margin: auto auto auto auto !important;
}
.menu_nav{
    margin: 1% auto auto auto !important;
}

.box {
    @include size (20%,180px);
    margin: 0.2%;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    background: #036C81;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    cursor: pointer;

    @media (max-width: $tablet) {
        @include size (49%,120px);
    }


    & h3 {
        color: #fff;
        font: {
            weight: 300;
            size: 18px;
        }
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-bottom: 1px solid rgba(255,255,255,0);

        position: absolute;
        top: 125px;
        width: 70%;
        left: 15%;
        z-index: 4;
        @media (max-width: $notebook) {
            font-size: 13px;
        }
        @media (max-width: $tablet) {
            font-size: 18px;
            left: 31%;
            top: 53px;
        }
        @media (max-width: $smartphoneL) {
            display: none;
        }
    }

    & .icon-cont {
        border: 6px solid rgba(255,255,255,0.3);
        border-radius: 50%;
        @include size (44%,40%);
        margin: 20px auto;
        display: block; 
        text-align: center;
        background: #036C81;
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        z-index: 5;
        box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);
        @media (max-width: $notebook) {
            width: 60%;
        }
        @media (max-width: $tablet) {
            width: 19%;
            height: 54%;
            left: -212px;
        }
         @media (max-width: $smartphoneL) {
           width: 36%;
           height: 56%;
           left: 0px;
        }

        & i {
            color: #fff;
            opacity: 0.6;
            font-size: 2.5em;
            line-height: 75px;
            margin-top: -10%;
            @media (max-width: $tablet) {
            margin-top: -20%;
        }
        }
    }
}
.responsive-homeadm{
    @media (max-width: $tablet) {
        flex-wrap: wrap!important;
        justify-content: center!important;
    }

}
.box_second {
    @include size (20%,85px);
    margin: 0.2%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    cursor: pointer;
         @media (max-width: $tablet) {
       display: none !important;
    }
}

.adm-plist-responsive {
    margin-left: 0px !important;
    margin-right: 0px !important;
   
    div:first-child{
         @media (max-width: $tablet) {
         margin-left: 0px !important;
           flex-wrap: wrap;
    }
     @media (max-width: $smartphoneL) {
         padding-left: 0px !important;
    padding-right: 0px !important;
     }
    }
    & .box_second{
    @media (max-width: $tablet) {
       display: inline !important;
       width: 100%;
           height: 102px;
       padding-top: 2%;
    }
}
}

.box_transparent {
    @include size (20%,85px);
    margin: 0.2%;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    background: transparent;
    position: relative;
    overflow: hidden;
      @media (max-width: $tablet) {
       display: none !important;
    }

}

.box:hover .icon-cont {
    animation: shady 4s linear infinite;
}

@keyframes shady {
    0% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
    20% {box-shadow: 0 0 0 100px rgba(255,255,255,0), 0 0 0 0px rgba(3, 108, 129, 0);}
    20.1% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
    50% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
    70% {box-shadow: 0 0 0 100px rgba(255,255,255,0), 0 0 0 0px rgba(3, 108, 129, 0);}
    70.1% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
    100% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
}
.displaynonetablet{
       @media (max-width: $tablet) {
       display: none !important;
    }
}

.restaurante{
    left: 5% !important;

}

.box_second h3 {
    color: #fff;
    font: {
        weight: 300;
        size: 80%;
    }
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid rgba(255,255,255,0);

    position: absolute;
    top: 37%;
    width: 70%;
    left: 15%;
    z-index: 4;
    @media (max-width: $notebook) {
        font-size: 10px;
    }
    @media (max-width: $tablet) {
        font-size: 18px;
    }
}

.color_second{
    background: #1E7787;
}

.color_third{
    background: #398998;
}
.color_four{
    background: #6199A4;
}
.color_five{
    background: #FFBC68;
}
.box h3 .label_restaurante{
    left: 12%;    
}
.h3_admin{
    font-size: 15px !important;
    left: 15% !important;
    @media (max-width: $notebook) {
        font-size: 13px !important;
    }
    @media (max-width: $tablet) {
        font-size: 18px !important;
            left: 100px !important;
    }
}

.h3_admin2{
    font-size: 15px !important;
    left: 10% !important;
}

/* nav component */

.menu_nav h3{
    @media (max-width: $tablet) {
    display: none;
    }
}
.menu_nav .box {
        @media (max-width: $smartphoneL) {
    width: 49%;
    height: 70px;
        }
}
.menu_nav .box .icon-cont {
     @media (max-width: $tablet) {
        width: 81%;
    height: 55%;
    left: -3px;}
       @media (max-width: $smartphoneL) {
    width: 86%;
    height: 55%;
    left: -3px;
    top: -3px;
       }
    & i {
        @media (max-width: $smartphoneL) {
      font-size: 1.5em;
          margin-top: -24px;
    } 
    }
}
.menu_nav .responsive-menu-nav-smartphone{
    @media (max-width: $smartphoneL) {
        padding-left:0px !important;
        padding-right:0px !important;
    }
}

/* navbar */
.navbar{
    height: 70px !important;
}

.material-icons.md-36 { 
    font-size: 36px;
}

.nav_user{
    margin-top: 4% !important;
}

.nav_logosecundary{
    padding-top: 28% !important;
}

.collapse{
    color: white !important;
}

.navegador{
    background-color: $amarillo;
}


.btn-primary {
    color:white !important;
    background-color:$rojo !important;
}

/* ventana emergente */
.modal-footer{

    border-top: none !important;
}



/* --------------------------------------------------
-----------------------------------------------------
---------------CLIENTE------------------------------*/

.body {
    display: grid;
    grid-template-columns: 7vw auto 7vw;
    grid-template-rows: 12vh auto 11vh;
    background-image: url("../images/principal.png");
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    width: 100%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
           @media (max-width: 480px) {
       grid-template-columns: 100%;
    grid-template-rows: 10vh auto 11vh;    
   
    }
}

.body_cliente {
    background-image: url("../images/cliente.png") !important;
}
.body_plist {
    display: grid;
    grid-template-columns: 7vw auto 7vw;
    grid-template-rows: 12vh auto auto 11vh;
    background-image: url("../images/principal_producto.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    width: 100%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 769px) {
         grid-template-rows: 9vh auto auto 9vh;
    }
}

.imgprincipal{
    grid-area: 2/1/3/4;
    position: relative;
    @include size (100%,77vh);
    margin-left: auto;
    margin-right: auto;
        @media (max-width: 480px) {
            @include size (100%);
   
    }
}


.imgproductos{
    grid-area: 2/2/3/3;
    position: relative;
    @include size (100%,auto);
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 480px) {
            grid-area: 2/1/3/4;
            text-align: center;
    }
}

/* NAV*/
.nav1, .logo, .login {
    @include size (12vh,6vw);
    @media (max-width: $smartphoneL) {
        flex-grow:1;
        height: 10vh;
    }
}
.nav1 {
    background-color:$rojo;
     @media (max-width: $smartphoneL) {
        width: 60%;
    }
}

.vacio{
    @media (max-width: $smartphoneL) {
        display: none;
    }
    
}
.logo {
    background-color:$amarillo;

}
.logo_img{
    width: 100%;
    display: block;
    padding: 3px;
    padding-top: 12px;
    @media (max-width: $notebook) {
      padding-top: 8px;  
    }
    @media (max-width: $tablet) {
      padding-top: 0px;   
    }
    @media (max-width: $smartphoneL) {
       padding-top: 3px;
        width: 93%;
    }
    @media (max-width: $smartphoneS) {
       padding-top: 8px;
        width: 100%;
    }
}
.logo_adm{
    @include size (10%);
    @media (max-width: $notebook) {
        @include size (10%);
    }
    @media (max-width: $tablet) {
        @include size (15%);
    }
    @media (max-width: $smartphoneL) {
        @include size (26%);
    }
}

.navbar-collapse {
    @media (max-width: $tablet) {

        flex-basis: 0% !important;
        flex-grow: 0 !important;
        align-items: center !important;
    }
}


.login {
    background-color:$rojo;
    float: right !important;
}
/* boton usuario*/
.label {
    font: {
        weight: 900;
        size: 350%;
    }
    margin-bottom: -1%;
    opacity: 0.7;
    @media (max-width: 769px) {
        font-size: 220%;
    }
      @media (max-width: 320px) {
        font-size: 138%;
    }
}
.label.prod1.top{
    margin-top:12%;
}
.label.prod1.top_plistproductos{
    margin-top:5%;
       @media (max-width: $tablet) {
        margin-top:0%;
        text-align: center;
    }
      @media (max-width: $smartphoneL) {
       font-size: 300%;
    }
       @media (max-width: $smartphoneS) {
       font-size: 200%;
    }
}

.top_ensaladas{
    font-size: 300% !important;
    margin-top: 1%;
}
.sandwiches{
    font-size: 300% !important;
}
.label.prod1{
    color: $amarillo;
}
.label.prod2{
    color: $rojo;
}
.label.prod3{
    color: #055969;
}

.dropdown-nologged{
      top: 39px !important;
    left: 5px !important;
    
      @media (max-width: $laptop) {
        top: 24px !important;
    left: 5px !important;
}
    
     @media (max-width: $notebook) {
        top: 18px !important;    }
    @media (max-width: $tablet) {
       top: 13px !important;
        left: 3px !important;
    }
    @media (max-width: $smartphoneL) {
      top: 16px !important;
        left: -1px !important;
    }
    @media (max-width: $smartphoneS) {
 
    }
}

.dropdown-menu.show, .dropdown-menu{
    top:21px;
    font: {
        weight: 900;
        size: 20px;
    }
    transform: translate3d(-64%, 61%, 0px) !important;
    background-color: $amarillo;
    border-radius: 0px !important;
       @media (max-width: $notebook) {
      transform: translate3d(-69%, 45%, 0px) !important;
    }
    @media (max-width: $tablet) {
          transform: translate3d(-68%, 34%, 0px) !important;
    }
    @media (max-width: $smartphoneL) {
        transform: translate3d(-82%, 33%, 0px) !important;
    }
    @media (max-width: $smartphoneS) {
   transform: translate3d(-79%, 33%, 0px) !important;
    }
}

.dropdown-item {
    @media (max-width: $smartphoneL) {
    width: 490px !important;
    height: 50px !important;
    }
}

.dropdown-item.label_white:hover{
    background-color: $amarillo !important;
    color: $rojo !important;
}
.material-icons.md-48{
    font-size:3vw;
    padding-left: 30%;
    padding-top: 19%;
    color: white;
      @media (max-width: $smartphoneL) {
     font-size: 11vw;
    padding-left: 22%;
    padding-top: 2%;
    }
      @media (max-width: $smartphoneS) {
     font-size: 14vw;
    padding-left: 16%;
    padding-top: 11%;
    }
}

.dropleft .dropdown-toggle::before{
    content: none !important;
}

/* desplegable*/
nav {
    position: relative;
    padding: 0;
    display: block;
    @include size (20%,0px);
    background: $amarillo;
    transition: all 0.1s ease;
    overflow-y: hidden;
}
nav>a {
    display: block;
    height: 30px;
    color: #D4380A;
    padding: 8% 5%;
    text-decoration: none;
    font-size: 25px;
    transition: all 0.3s ease;
    &:hover {
        color: $rojo !important;
    }
}


input#menu-btn {
    opacity: 0;
    display:none;
} 
label#menu-lbl {
    display: flex;
    padding: 0;
    margin-left: 25%;
    margin-top:15%;
    @include size (38px);
    cursor: pointer;
    transition: opacity 0.2s ease-in;
       @media (max-width: $tablet) {
            margin-left: 25%;
    margin-top: 8%;
    }
     @media (max-width: $smartphoneL) {
            margin-left: 5%;
    margin-top: 5%;
    }
         @media (max-width: $smartphoneS) {
            margin-left: 5%;
    margin-top: 9%;
    }
    
    
    &:hover {
        opacity: 0.7;
    }
}

input#menu-btn + label::before,
input#menu-btn + label::after {
    z-index: 100;
    position: absolute;
    content: "";
    @include size (3%,4px);
    background: white;
    margin: 2% 0 0;
    box-shadow: 0px -10px white, 0px 10px white;
    transition: all 0.15s ease-in;
     @media (max-width: $tablet) {
      @include size (4%,4px);
    }
         @media (max-width: $smartphoneL) {
             @include size (7%,4px);
    }
           @media (max-width: $smartphoneS) {
             @include size (9%,4px);
    }
    
}
input#menu-btn:checked + label::before {
    border: none;
    box-shadow: none;
    transform: rotate(45deg);
}
input#menu-btn:checked + label::after {
    border: none;
    box-shadow: none;
    transform: rotate(-45deg);
}
#menu-btn:checked + #menu-lbl + nav {
        display: block;
    height: 200px;
    width: 192px;
    z-index: 1;
    margin-top: 41%;
       @media (max-width: $notebook) {
       margin-top: 19%;  
    }
       @media (max-width: $tablet) {
      margin-top: -8%;   
    }
        @media (max-width: $smartphoneL) {
        margin-top: -2%;
         width: 480px;
    }
            @media (max-width: $smartphoneS) {
        margin-top: -4%;
  
    }
}

.label_white{
    color: white !important;
    font-weight: 900;
    padding-bottom: 29px;
     @media (max-width: $smartphoneL) {
        padding: 21px 5%;
    }
}


/* FOOTER CLIENTE*/
footer {
    grid-area: 3/1/4/4;
    z-index:2;


}
.footer {
    background-color:#3b56a3;
    height: 50%;
    margin-left: 5%;
    margin-right: 5%;
       @media (max-width: $smartphoneL) {
         height: 100%;
     margin-left: 0%;
    margin-right: 0%;
    }
}
.footerplist {
    background-color:#3b56a3;
    height: 50%;
    margin-left: 5%;
    margin-right: 5%;
    grid-area: 4/1/5/4 !important;
    @media (max-width: $smartphoneL) {
   margin-left:0%;
    margin-right: 0%;
    height: 100%;
    }
}
.rrss{
    width: 3%;
    background-repeat: no-repeat;
       @media (max-width: $tablet) {
         width: 4%;  
    }
       @media (max-width: $smartphoneL) {
     display: none;
    }
}


.fb {
    background: url("../images/fb.png"); 
    background-size: 100% 100%;
}
.tw {
    background: url("../images/tw.png"); 
    background-size: 100% 100%;
}
.in {
    background: url("../images/inst.png");
    background-size: 100% 100%;
}
.label_footer{
    color: white;
    display: block;
    margin: auto;
       @media (max-width: $smartphoneL) {
      text-align: center;
    padding-top: 7px;
    }
           @media (max-width: $smartphoneS) {
    padding-top: 0px;
    font-size: 10px;
    }

}

/* MENU PRODUCTOS CLIENTE*/
.nav{
    grid-area: 2/2/3/3;
    margin-top:15%;
    @media (max-width: $smartphoneS) {
    grid-area: 2/1/3/4;
    }
}

.nav_home{
    grid-area: 2/1/3/2;
    display: grid !important;
    grid-template-columns: auto auto;
    grid-template-rows:38vh 38vh;
    z-index: 2;
               @media (max-width: 480px) {
          display: block !important;
   
    }
}
figure.menu {
    font-family: "Raleway", Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 2%;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000000;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
     @media (max-width: 480px) {
            max-width: none;
    max-height: none;
       margin: 0%;
   
    }
}

figure.menu * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    @include transition(all,0.4s,ease-in-out);
}

figure:first-child{
    @include size (100%);
    margin-left:auto;
    margin-top: auto;
    grid-area: 1 / 1 / 1 / 1;
         @media (max-width: $smartphoneL) {
 @include size (480px, 300px);
    }
             @media (max-width: $smartphoneS) {
 @include size (320px, 250px);
    }
}
figure:nth-child(2n){
    @include size (42%,66%);
    margin-top: auto;
    grid-area: 1 / 2 / 2 / 3;
     @media (max-width: $tablet) {
 @include size (69%,84%);
    }   
       @media (max-width: $smartphoneL) {
@include size (480px, 300px);
    } 
                 @media (max-width: $smartphoneS) {
 @include size (320px, 250px);
    }
}
figure:nth-child(3n){
    @include size (32%,65%);
    margin-left:auto;
    grid-area: 2 / 1 / 2 / 2;
         @media (max-width: $notebook) {
 @include size (43%,65%);
    }     
             @media (max-width: $tablet) {
 @include size (57%,65%);
    }
         @media (max-width: $smartphoneL) {
@include size (480px, 300px);
    } 
                 @media (max-width: $smartphoneS) {
 @include size (320px, 250px);
    }
}
figure:nth-child(4n){
    @include size (36%,56%);
    margin-top: 2%;
    grid-area: 2 / 2 / 3 / 3;
     @media (max-width: $notebook) {
 @include size (51%,79%);
    }
                 @media (max-width: $tablet) {
 @include size (64%,65%);
    } 
         @media (max-width: $smartphoneL) {
@include size (480px, 300px);
  margin-top: 0%;
    } 
                 @media (max-width: $smartphoneS) {
 @include size (320px, 250px);
    }
}

figure.menu.producto img{
    max-width: 120%;
    position: relative;
    opacity: 0.4;
}
figure.menu.local img{
    @include size (100%,110%);
    position: relative;
    opacity: 0.4;
}
figure.menu.contacto img{
    @include size (100%);
    position: relative;
    opacity: 0.4;
           @media (max-width: $smartphoneL) {
@include size (100%, 163%);
    } 

}
figure.menu.empresa img{
    @include size (100%,120%);
    position: relative;
    opacity: 0.4;
}

figure.menu figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

figure.menu h2 {
    position: absolute;
    left: 19%;
    right: 16%;
    display: inline-block;
    background: #000000;
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    padding: 12px 5px;
    margin: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 400;
}

figure.menu h2 span {
    font-weight: 800;
}

figure.menu:before {
    @include size (100%);
    top: 0;
    left: 0;
    content: "";
    background: #ffffff;
    position: absolute;
    transition: all 0.3s ease-in-out;
    transform: rotate(110deg) translateY(-50%);
      @media (max-width: $smartphoneL) {
content: none;
    } 
}

figure.menu:nth-child(2n):before{
    transform: rotate(110deg)  translateY(-35%);
    top:-30px;
    width:150%;
}

figure.menu:nth-child(3n):before{
    transform: rotate(110deg)  translateY(-40%);
    width:120%;
}

figure.menu:nth-child(4n):before{
    transform: rotate(110deg) translateY(-5%);
    width:175%;
}
figure.menu a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

figure.menu.producto {
    background: #581a14;

}

figure.menu.producto h2 {
    background:  #cd6155 ;
}

figure.menu.local {
    background: #f7dc6f;
}

figure.menu.local h2 {
    background:  #d4ac0d;
}
figure.menu.contacto {
    background:  #f8c471;
}

figure.menu.contacto h2 {
    background:  #ca6f1e;
    font-size: 25px;
}
figure.menu.empresa {
    background: #7f5006;
}

figure.menu.empresa h2 {
    background: #583804;
}

figure.menu:hover img,
figure.menu.hover img {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

figure.menu:hover h2,
figure.menu.hover h2 {
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.menu:hover:before,
figure.menu.hover:before {
    transform: rotate(10deg) translateY(-150%);
}


.rrss1{
    position: relative;
    margin-top: 44%;
    grid-area: 1 / 3 / 2 / 4
}

.fb1{
    @include size (50px);
    background: url("../images/fb.png");
    background-size: 50px 50px;
}
.tw1{
    @include size (50px);
    margin-top: 10px;
    background: url("../images/tw.png");
    background-size: 50px 50px;
}
.in1{
    @include size (50px);
    margin-top: 10px;
    background: url("../images/inst.png");
    background-size: 50px 50px;
}

/* LISTA PRODUCTOS CLIENTE*/

#make-3D-space{
    @include size (340px,500px);
    transform-style: preserve-3d;
    transition: transform 5s;   
    top:80px;

}



#product-front, #product-back{
    @include size (110%);
    background:#fff;
    position:absolute;
    left:-5px;
    top:-5px;
    @include transition(all,200ms,ease-out); 
}
#product-back{
    display:none;
    transform: rotateY( 180deg );
}
#product-card.animate #product-back, #product-card.animate #product-front{
    top:0px;
    left:0px;
    @include transition(all,200ms,ease-out);
}
#product-card{
    @include size (325px,490px);
    position:absolute;    
    top:10px;
    left:10px;	
    overflow:hidden;
    transform-style: preserve-3d;
    @include transition(all,200ms,ease-out);
      @media (max-width: $smartphoneS) {
    left:3px;
    @include size (316px,490px);
    }
    &:hover{
        top:5px;
        left:5px;
        @include size (335px,500px);
        box-shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);
        @include transition(all,200ms,ease-out);
        @media (max-width: 320px) {
           @include size (314px,500px); 
           left:3px;
        }
    }
}


.stats-container{
    background:#fff;	
    position:absolute;
    top:386px;
    left:0;
    @include size (95%,90%);
    padding:27px 35px 35px;	
    @include transition(all,200ms,ease-out);
    @media (max-width: 320px) {
         @include size (100%,90%);
    }
    
    
    & .product_name{
        font-size:22px;
        color:#393c45;
        @media (max-width: 320px) {
               font-size: 20px; 
        }     
    }
    & p{
        font-size:16px;
        color:#b1b1b3;	
        padding:2px 0 20px 0;
    }
    & .product_price{
        float:right;
        color:$azulclaro;
        font: {
            weight: 600;
            size: 22px;
        }

    }
}
#product-card:hover .stats-container{
    top:272px;
    @include transition(all,200ms,ease-out); 
}

.image_overlay{
    position:absolute;
    top:0;
    left:0; 
    @include size (100%);
    background:#48daa1;
    opacity:0;

}
#product-card:hover .image_overlay{
    opacity:0.7;	
    @include transition(all,200ms,ease-out); 
 
}
.product-options{
    padding:2px 0 0;
    & strong{
        font: {
            weight:700;
            size: 14px;
        }
        color:#393c45;
    }
    & span{	
        color:#969699;
        font-size:14px;
        display:block;
        margin-bottom:8px;
    }
}

#view_details{	
    position:absolute;
    top:112px;
    left:50%;
    margin-left:-85px;	
    border:2px solid #fff;
    color:#fff;
    font: {
        weight: 700;
        size: 19px;
    }
    text-align:center;
    text-transform:uppercase;
    padding:10px 0;
    width:172px;	
    opacity:0;
    @include transition(all,200ms,ease-out);
    &:hover{	
        background:#fff;
        color:$azulclaro;
        cursor:pointer;

    }
}

#product-card:hover #view_details{
    opacity:1;
    width:152px;
    font-size:15px;
    margin-left:-85px;
    top:115px;
    @include transition(all,200ms,ease-out); 		
}



div.shadow{
    @include size (335px,520px);
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    z-index:3;
    display:none;
    background: -webkit-linear-gradient(left,rgba(0,0,0,0.1),rgba(0,0,0,0.2));
    background: -o-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.2)); 
}
#product-back div.shadow{
    z-index:10;
    opacity:1;
    background: -webkit-linear-gradient(left,rgba(0,0,0,0.2),rgba(0,0,0,0.1));
    background: -o-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.1)); 
}
/* BOTON FLECHA PLIST CARRITO*/

.flecha_btn{	

    border:2px solid #fff;
    color:#fff;
    font: {
        weight: 700;
        size: 19px;
    }
    text-align:center;
    text-transform:uppercase;
    padding:10px 0;
    width:8%;
    height: 90%;
    @include transition(all,200ms,ease-out);
    &:hover{	
        background:#fff;
        color:$azulclaro;
        cursor:pointer;
    }
    
    @media (max-width: 769px) {
          width:15%; 
    }
       @media (max-width: 480px) {
          width:20%; 
    }
       @media (max-width: 320px) {
          width:25%; 
    }
}


.flechas{	
    grid-area: 3/2/4/3;
    margin-top:3%;
     @media (max-width: 320px) {
        margin-top:5%;
    }

}

.flechas_comprar {	
    margin-top:-3%;
    @media (max-width: 769px) {
        margin-top:-7%;
    }
    .flecha_btn{
        @media (max-width: 769px) {
                font-weight: 700;
    font-size: 13px;
    padding: 9px 8px;
    width: 6%;
    height: 38px;
    .material-icons{
        font-size: 16px !important;
    }
        }
        @media (max-width: 480px) {
            width: 9%;
        }
          @media (max-width: 320px) {
            width:14%;
        }
    }
   
}

#carrito{
    .label.prod1.top_plistproductos{
        @media (max-width: 480px) {
                margin-top: 3%;
        }
    }
    .create_btn_margin{
         @media (max-width: 480px) {
                padding-left: 0px;
                margin-right: 0px !important;
        }
            @media (max-width: 320px) {
                padding-left: 37px;
                margin-right: 0px !important;
        }
    }
    button.btn.btn-rojo.btn-sm.float-left{
        @media (max-width: 320px) {
               margin-left: 21px;
        }
    }
    .imgproductos{
    min-height: 74vh;
    }
    
}
#facturacarrito{
    .navlogin {
    grid-area: 2/2/3/3;
    margin-top: 10%;
    min-height: 51vh;
    @media (max-width: 769px) {
         min-height: 64vh;
    }
    @media (max-width: 480px){
    grid-area: 2/1/3/4;
    min-height: 67vh;
    }
}
.label.prod1.top_plistproductos {
    @media (max-width: 480px){
    margin-top: 4%;
    }
     @media (max-width: 480px){
    margin-top: 10%;
    }
}
main{
     @media (max-width: 480px){
       margin-top: 30px;
    }
}
.create_btn_margin {
     @media (max-width: 320px){
      margin-right: 20px !important;
    }
 
    
}
}
#plist{

.label.prod1.top_plistproductos, .top_ensaladas, .sandwiches{
    @media (max-width: 769px) {
        margin-top: 0%;
            font-size: 307% !important;
            text-align:center;
    }
     @media (max-width: 480px) {
        margin-top: 10%;
              font-size: 225% !important;
    }
       @media (max-width: 320px) {
        margin-top: 10%;   
            padding-left: 9px;
            text-align: initial;
            font-size: 184% !important;
    }
}
.top_ensaladas,.sandwiches {
    @media (max-width: 480px) {
        margin-top: 1%;
          
    }
           @media (max-width: 320px) {
        margin-top: 4%;   
    }
}

.nav{
    @media (max-width: 769px) {
      margin-top: 140px;
    }
               @media (max-width: 320px) {
        margin-top: 100px; 
    }
}
}
#opcion{
    .flechas {
    margin-top: 1%;
}
.nav{
    @media (max-width: 1024px) {
      margin-top: 240px;
    }
     @media (max-width: 769px) {
      margin-top: 160px;
    }
}
.top_ensaladas,.sandwiches {
    @media (max-width: 768px) {
            font-size: 220% !important;  
    }
           @media (max-width: 480px) {
        margin-top: 7%;   
           font-size: 160% !important;
    }
     @media (max-width: 480px) {
           margin-top: 10%;
    font-size: 143% !important;
    }

}
.sandwiches {
           @media (max-width: 480px) {
        margin-top: 1%;   
    }

}
.imgproductos{
     @media (max-width: 768px) {
          text-align: center;
          
    } 
}
}
#restaurante{
.top_ensaladas {
    margin-top: 4%;
    @media (max-width: 768px) {
            font-size: 220% !important;  
           text-align: center;
    }
           @media (max-width: 480px) {
          margin-top: 5%;
    font-size: 160% !important;
    }

}
.nav {
      @media (max-width: 480px) {
    margin-top: 18%;
    }       
    @media (max-width: 320px) {
    margin-top: 30%;
    } 
}
}
#domicilio{
.nav_domicilio {
     @media (max-width: 1024px) {
    margin-top: 52%;
}
     @media (max-width: 480px) {
    margin-top: 130%;
}
     @media (max-width: 320px) {
      margin-top: 138%;
}
}
.imgproductos{
    .row{
         @media (max-width: 480px) {
       margin-right: 0px;
    margin-left: 0px;
}
    }
    .form-group{
         @media (max-width: 480px) {
       margin-right: 0px !important;
    margin-left: 0px !important;
}
    }
    .label_domicilio{
        @media (max-width: 320px) {
 font-size: 29px;
}
    }
}
}
#login{
    form{
       @media (max-width: 320px) {
           display: flex;
    flex-direction: column;
    text-align: center;
        } 
    }
}
#registrarse{
    .nav_registrarse{
    margin-top: 8% !important;  
     @media (max-width: 1024px) {
        margin-top: 12% !important;
 } 
      @media (max-width: 768px) {
        margin-top: 16% !important;
 } 
       @media (max-width: 480px) {
        margin-top: 26% !important;
 } 
        @media (max-width: 320px) {
        margin-top: 36% !important;
 }
}
.label.prod1.top_ensaladas{
     @media (max-width: 768px) {
            text-align: center;
 } 
      @media (max-width: 480px) {
                margin-top: 4%;
 } 
       @media (max-width: 320px) {
                margin-top: 8%;
 } 
}
.flecha_btn{
     @media (max-width: 480px) {
           width: 20%;
 }
}
}
#locales{
    .top_ensaladas {
    font-size: 300% !important;
    margin-top: 5%;
     @media (max-width: 320px) {
      font-size: 200% !important;
    margin-top: 10%;
  }
}
.nav {
  @media (max-width: 480px) {
    margin-top: 46%;
  }
}
.flecha_btn{
     @media (max-width: 480px) {
           width: 20%;
 }
}
}
#contacto{
    .navcontrasena {
    grid-area: 2/2/3/3;
    margin-top: 100px;
    min-height: 57vh;
}
.container2{
    margin-bottom: 0px !important;
}
.container-fluid {
    margin-bottom: 0%;
}
.flechas {
    margin-top: 1%;
}
.align{
    text-align: justify;
       @media (max-width: 768px) {
      text-align: center;
}
}
.top_ensaladas {
   @media (max-width: 480px) {
      margin-top: 3%;
}

}
.flecha_btn{
     @media (max-width: 480px) {
           width: 20%;
 }
}
.navcontrasena {
   
    @media (max-width: 480px) {
         grid-area: 2/1/3/4;
 }
}
}
#empresa{
   .top_plistproductos {
    margin-top: 4%;
    @media (max-width: 768px) {
            font-size: 220% !important;  
           text-align: center;
    }
           @media (max-width: 480px) {
          margin-top: 5%;
    font-size: 160% !important;
    }
               @media (max-width: 320px) {
          margin-top: 9%;
    }

}
.nav {
      @media (max-width: 480px) {
    margin-top: 18%;
    }       
    @media (max-width: 320px) {
    margin-top: 30%;
    } 
}
}

/* BOTON CARRITO PLIST CARRITO*/
.icon_cart{
    float: right;
    @include size (12vh,7vh);
     @media (min-width: 1440px) {
     margin-top: -77px;
    padding-left: 29px;
     }
     @media (min-width: 1024px) and (max-width: 1439px) {
    margin-top: -75px;
    padding-left: 13px;
     }
   
       @media (max-width: 769px) {
     margin-top: -3px;
    padding-left: 63px;
    } 
       @media (max-width: 480px) {
  margin-top: 11px;
    padding-left: 0px;
  
    } 
       @media (max-width: 320px) {
     
  
    } 
}


/* BOTON VACIAR CARRITO*/

.btn-amarillo{

    background-color: $amarillo !important;  
}

.alerta_carrito_vacio{
    height: 40vh  !important; 
    margin-bottom: 2%  !important; 
    text-align: center;

}

/* PLIST SELECCIONAR RESTAURANTE*/
/* Restaurante pre-seleccionado*/
#product-front-pre, #product-back{
    @include size (110%);
    background:$rojo;
    position:absolute;
    left:-5px;
    top:-5px;
    @include transition(all,200ms,ease-out); 
}
#product-card.animate #product-front-pre{
    top:0px;
    left:0px;
    @include transition(all,200ms,ease-out); 
}

.stats-container-pre{
    background:$rojo;	
    position:absolute;
    top:386px;
    left:0;
    @include size (90%,95%);
    padding:27px 35px 35px;	
    @include transition(all,200ms,ease-out);
      @media (max-width: 320px) {
         @include size (100%,90%);
    }
}
#product-card:hover .stats-container-pre{
    top:272px;
    @include transition(all,200ms,ease-out);
}
.stats-container-pre .product_name-pre{
    font-size:22px;
    color:white;
    text-transform: uppercase;
}
.stats-container-pre p{
    font-size:16px;
    color:white;	
    padding:2px 0 20px 0;
}
.product-options-pre{
    padding:2px 0 0;
}
.product-options-pre strong{
    font: {
        weight: 700;
        size: 14px;
    }
    color:#393c45;
}
.product-options-pre span{	
    color:white;
    font-size:14px;
    display:block;
    margin-bottom:8px;
}
.image_overlay-pre{
    position:absolute;
    top:0;
    left:0; 
    @include size (100%);
    background:#CE8B85;
    opacity:0;	
}
#product-card:hover .image_overlay-pre{
    opacity:0.7;	
    @include transition(all,200ms,ease-out); 
}

#view_details-pre{	
    position:absolute;
    top:112px;
    left:50%;
    margin-left:-85px;	
    border:2px solid #fff;
    color:white !important;
    font: {
        weight: 700;
        size: 19px;
    }
    text-align:center;
    text-transform:uppercase;
    padding:10px 0;
    width:172px;	
    opacity:0;
    @include transition(all,200ms,ease-out);
    &:hover{	
        background:#fff !important;
        color:#E9776E !important;
        cursor:pointer;

    }
}

#product-card:hover #view_details-pre{
    opacity:1;
    width:152px;
    font-size:15px;
    margin-left:-85px;
    top:115px;
    @include transition(all,200ms,ease-out); 		
}

/* Restaurante area*/
#product-front-area, #product-back{
    @include size (110%);
    background:#FE8961;
    position:absolute;
    left:-5px;
    top:-5px;
    @include transition(all,200ms,ease-out);
}
#product-card.animate #product-front-area{
    top:0px;
    left:0px;
    @include transition(all,200ms,ease-out); 
}

.stats-container-area{
    background:#FE8961;	
    position:absolute;
    top:386px;
    left:0;
    @include size (95%,90%);
    padding:27px 35px 35px;	
    @include transition(all,200ms,ease-out);
      @media (max-width: 320px) {
         @include size (100%,90%);
    }
}
#product-card:hover .stats-container-area{
    top:272px;
    @include transition(all,200ms,ease-out); 
}
.stats-container-area .product_name-area{
    font-size:22px;
    color:white;
    text-transform: uppercase;
}
.stats-container-area p{
    font-size:16px;
    color:white;	
    padding:2px 0 20px 0;
}
.product-options-area{
    padding:2px 0 0;
}
.product-options-area strong{
    font: {
        weight: 700;
        size: 14px;
    }
    color:#393c45;
}
.product-options-area span{	
    color:white;
    font-size:14px;
    display:block;
    margin-bottom:8px;
}
.image_overlay-area{
    position:absolute;
    top:0;
    left:0; 
    @include size (100%);
    background:#FEB59C;
    opacity:0;	
}
#product-card:hover .image_overlay-area{
    opacity:0.7;	
    @include transition(all,200ms,ease-out); 
}

#view_details-area{	
    position:absolute;
    top:112px;
    left:50%;
    margin-left:-85px;	
    border:2px solid #fff;
    color:white;
    font: {
        weight: 700;
        size: 19px;
    }
    text-align:center;
    text-transform:uppercase;
    padding:10px 0;
    width:172px;	
    opacity:0;
    @include transition(all,200ms,ease-out); 
    &:hover{	
        background:#fff;
        color:#FFE8CB;
        cursor:pointer;

    }
}

#product-card:hover #view_details-area{
    opacity:1;
    width:152px;
    font-size:15px;
    margin-left:-85px;
    top:115px;
    @include transition(all,200ms,ease-out);		
}

/* Restaurante plist*/
#product-front-plist, #product-back{
    @include size (110%);
    background:#F99339;
    position:absolute;
    left:-5px;
    top:-5px;
    @include transition(all,200ms,ease-out); 
}
#product-card.animate #product-front-plist{
    top:0px;
    left:0px;
    @include transition(all,200ms,ease-out); 
}

.stats-container-plist{
    background:#F99339;	
    position:absolute;
    top:386px;
    left:0;
    @include size (95%,90%);
    padding:27px 35px 35px;	
    @include transition(all,200ms,ease-out);
      @media (max-width: 320px) {
         @include size (100%,90%);
    }
}
#product-card:hover .stats-container-plist{
    top:272px;
    @include transition(all,200ms,ease-out); 
}
.stats-container-plist .product_name-plist{
    font-size:22px;
    color:white;
    text-transform: uppercase;
}
.stats-container-plist p{
    font-size:16px;
    color:white;	
    padding:2px 0 20px 0;
}
.product-options-plist{
    padding:2px 0 0;
}
.product-options-plist strong{
    font: {
        weight: 700;
        size: 14px;
    }
    color:#393c45;
}
.product-options-plist span{	
    color:white;
    font-size:14px;
    display:block;
    margin-bottom:8px;
}
.image_overlay-plist{
    position:absolute;
    top:0;
    left:0; 
    @include size (100%);
    background:#FCD9B6;
    opacity:0;	
}
#product-card:hover .image_overlay-plist{
    opacity:0.7;	
    @include transition(all,200ms,ease-out); 
}

#view_details-plist{	
    position:absolute;
    top:112px;
    left:50%;
    margin-left:-85px;	
    border:2px solid #fff;
    color:white;
    font: {
        weight: 700;
        size: 19px;
    }
    text-align:center;
    text-transform:uppercase;
    padding:10px 0;
    width:172px;	
    opacity:0;
    @include transition(all,200ms,ease-out);
    &:hover{	
        background:#fff;
        color:#FFE8CB;
        cursor:pointer;

    }
}

#product-card:hover #view_details-plist{
    opacity:1;
    width:152px;
    font-size:15px;
    margin-left:-85px;
    top:115px;
    @include transition(all,200ms,ease-out); 		
}

/* OPCION LOCAL O DOMICILIO*/

.label.prod4{
    color: $amarillo;
    font-size: 50px;
}
.label.prod4.top_domicilio{
    margin-top:4%;
}
/*  DOMICILIO*/

.label_domicilio{
    font: {
        weight: 900;
        size: 40px;
    }

    color: $amarillo;
    margin-top:4%;
}

.paso_img{
    @include size (8%,auto);
    max-width: 8%;  
}

.nav_domicilio{
    margin-top:39%;
}
.nav_carrito
{
    margin-top:10%;
}
.bebida_img{
    @include size (110%);
    padding-top: 5%;
}

.navbar-brand {
    width: 55% !important;
}


.link_registrarse{
    font-size: 72%;
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
        color: #FFC57C;
    }
    50% {
        transform: scale(1.2,1.2);
        color: #FFC57C;
    }
    100% {
        transform: scale(1,1);
        color: #FFC57C;
    }
}

/*  usuario logeado*/
.con-clase{
    color: $amarillo !important;
    animation: zoominoutsinglefeatured 2s 1 !important;
    font-size: 4vw !important;
    padding-left: 18% !important;
    padding-top: 15% !important;
    @media (max-width: $tablet) {
        padding-left: 30% !important;
    }
     @media (max-width: $smartphoneL) {
        padding-left: 23% !important;
       font-size: 10vw !important;
    padding-top: 5% !important;
    }
         @media (max-width: $smartphoneS) {
     padding-left: 21% !important;
    font-size: 12vw !important;
    padding-top: 15% !important;
    }

    &:hover{
        color: white !important;
    }
}


.viewusuariocliente{
    margin-top: 13% !important;
}

.navlogin{
    grid-area: 2/2/3/3;
    margin-top: 10%;
    min-height: 46vh;
}
.navlogin2{
    grid-area: 2/2/3/3;
    margin-top: 6%;
    min-height: 46vh;
       @media (max-width: 320px) {
           margin-top: 12%;
    min-height: 73vh;  
    }
}

#viewusuariocliente{
    main{
          @media (max-width: 320px) {
       padding-left: 0px !important;
       padding-right: 0px !important; 
    }
    }
   .navlogin2{
    grid-area: 2/2/3/3;
    margin-top: 56px;
    min-height: 46vh;
    @media (max-width: 769px) {
       margin-top: 48px;  
    }
      @media (max-width: 320px) {
           margin-top: 12%;
    min-height: 73vh;  
    }
} 
}


.navcontrasena {
    grid-area: 2/2/3/3;
    margin-top: 131px;
    min-height: 57vh;
    @media (max-width: 769px) {
         min-height: 70vh;
          margin-top: 67px;
    }
        @media (max-width: 480px) {
             grid-area: 2/1/3/4;
           margin-top: 19%;
           min-height: 63vh;
}
        @media (max-width: 320px) {
margin-top: 28%;
}
}

.navlinea {
    grid-area: 2/2/3/3;
    margin-top: 10%;
    min-height: 60vh;
    @media (max-width: 769px) {
            margin-top: 17%;
    min-height: 62vh;
    }
        @media (max-width: 480px) {
    margin-top: 24%;
    }
        @media (max-width: 320px) {
       margin-top: 35%;
    }
}

.top_perfil{
    margin-top: 1%;
    @media (max-width: 769px) {
       margin-top: 0%; 
    }
       @media (max-width: 480px) {
       margin-top: 5%; 
    }
         @media (max-width: 320px) {
       margin-top: 10%; 
    }
}

#facturacliente{
       main{
          @media (max-width: 480px) {
       padding-left: 0px !important;
       padding-right: 0px !important; 
    }
       }
    .top_perfil{
        @media (max-width: 769px) {
       margin-top: 4%; 
    }
  
    }
    .nav {
      @media (max-width: 480px) {
      grid-area: 2/1/3/4;
    }
   .flechas_comprar .flecha_btn {
 @media (max-width: 480px) {
    margin-left: 43%;
 }
}
.btn-group{
    @media (max-width: 480px) {
        margin-left: 0% !important;
 } 
 @media (max-width: 320px) {
        margin-left: -1% !important;
 } 
}
}
}

.nav_registrarse{
    margin-top: 8% !important;  
     @media (max-width: 1024px) {
        margin-top: 12% !important;
 } 
}

.navperfil{
    grid-area: 1/2/2/3;
    margin-top: 4%;
}
.navpass{
    grid-area: 1/2/2/3;
    margin-top: 9%;
}
.rest_homeadm{
    left: 8%!important; 
    @media (max-width: $notebook) {
        left: 3%!important; 
    }
     @media (max-width: $tablet) {
        left: 30%!important; 
    }

}

.top_plistperfil{
    margin-top: 0%;
}



.img_empresa{
    @include size (100%);
}

.img_empresa2{
    @include size (100%);
}

.rrss2{
    @include size (100px,76px);
}

#badge{
    background-color:#21c999;
    color:white;
    font-size: 100%;
    position:relative;
    transform: rotate(-50deg);
    border-radius:10px;
    padding:10%;
    z-index:0;
    text-align:center;
    @include size (30px);
    top:10px;
    left:12px;
}


.img_cart{
    width:72% !important;
    height: 100% !important;
    z-index: 3 !important;
    color:$rojo;
    position:relative;
}

.material-icons.md { 
    font-size: 300%;
}

.registrarseok{
    height: 200% !important;
}

.header{
    grid-area: 1 / 1 / 2 / 4;  

}

.titulo{
    /*    grid-area: 2 / 2 / 3 / 3;  */

}

