<div class="body_plist body_cliente">
  <div class="header d-flex">
    <div class="nav1">

        <input type="checkbox" id="menu-btn" name="Menu">
        <label id="menu-lbl" for="menu-btn"></label>
        <nav itemscope itemtype="http://schema.org/SiteNavigationElement" >
            <a class="label_white" ng-click="productos()">PRODUCTOS</a>
            <a class="label_white"  ng-click="locales()">LOCALES</a>
            <a class="label_white" ng-click="empresa()">EMPRESA</a>
            <a class="label_white" ng-click="contacto()">CONTACTO</a>
        </nav>
    </div>
    <div class="logo">
        <a href="/delivery/home">
            <img src="images/logo.png" class="logo_img" alt="Responsive image">
        </a>
    </div>
    <div class="vacio flex-grow-1"></div>
    <div class="login">
        <div class="dropleft">
            <div  class="icono_usuario dropdown-toggle" data-toggle="dropdown">
                <i class="material-icons md-48" ng-class="{'con-clase': logged}">
                    account_circle
                </i> 
            </div>
            <div class="dropdown-menu">
                <a class="dropdown-item label_white"  ng-show="!logged" href="usuario/registrarse"><i class="fas fa-user"> </i>    REGISTRARSE</a>  
                <a class="dropdown-item label_white" ng-show="!logged" href="usuario/login"><i class="fas fa-user"> </i>    LOGIN</a>
                <a class="dropdown-item label_white" ng-show="logged" href="usuario/viewusuariocliente/{{loggeduserid}}"><i class="fas fa-user"> </i>  PERFIL</a>
                <a class="dropdown-item label_white" ng-show="logged" href="factura/facturacliente/10/1/{{loggeduserid}}"><i class="fas far fa-file"></i>  VER FACTURAS</a>
                <a class="dropdown-item label_white" ng-show="logged" href="usuario/logout"><i class="fas fa-sign-out-alt"></i>  LOGOUT</a>
            </div>
        </div>
    </div>

  </div>
    <div class="imgproductos">

        <div class="label prod1 top_perfil">FACTURA N {{idfactura}}</div>

    </div>
    <div class="navlinea facturasusuariocliente d-flex  justify-content-center">
        <div class="container-fluid">
            <div class="row">
                <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">

                    <div class="table-responsive container2 mb-5 pl-3 pr-3">
                        <table class="table table-sm">
                            <tr>
                                 <th>
                            <p ng-click="sortBy('cantidad')">CANTIDAD</p>
                        </th>
                                  <th>
                            <p ng-click="sortBy('producto')">PRODUCTO</p>
                        </th>
                            <tr ng-repeat="fila in ajaxDataLinea| orderBy:propertyName:reverse">
                                <td>{{fila.cantidad}}</td>
                                <td>{{fila.obj_Producto.nombre}}</td> 

                            </tr>
                        </table>
                    </div>
                    <div class="flechas_comprar">
                        <div  ng-click="volver()" class="flecha_btn mr-5"><i class="material-icons">
                                arrow_back_ios
                            </i></div>
                    </div> 
                </main>

            </div>


        </div>

    </div>

    <div class="footerplist d-flex mt-3">
        <div class="rrss tw"></div>
        <div class="rrss fb"></div>
        <div class="rrss in"></div>
        <div class="label_footer">PROYECTO FINAL - DAW - JAUME MONZONIS LAZARO</div>
    </div>
</div>

