<!--Navbar -->
<div class="mb-1 navbar navbar-expand-lg navegador">
    <a class="navbar-brand ml-2" href="home">
        
        <img src="http://localhost:8081/images_server/Logo_resolution.png" height="82" width="82" class="img-fluid" alt="Responsive image"> 

    </a>
  
    <div class="collapse navbar-collapse mr-2" id="navbarSupportedContent-333">

        <ul class="navbar-nav ml-auto nav-flex-icons">
             <li class="nav-item hvr-pop btn-login" ng-class="{'active': c.isActive('usuario/registrarse')}" ng-show="!c.logged">     
                <a href="usuario/registrarse" class="btn btn-lg" role="button" aria-pressed="true">Registrarse</a>
            </li>
            <li class="nav-item hvr-pop btn-login" ng-class="{'active': c.isActive('usuario/login')}" ng-show="!c.logged">     
                <a href="usuario/login" class="btn btn-lg" role="button" aria-pressed="true">Login</a>
            </li>
            <li class="nav-item" ng-show="c.logged">
                <a class="nav-link waves-effect waves-light nav_logosecundary" href="usuario/logout">
                    <i class="material-icons">input</i>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--/.Navbar -->


