<div class="body d-flex">
    <div class="nav1"></div>
    <div class="logo"></div>
    <div class="vacio flex-grow-1"></div>
    <div class="login">
        <div class="dropdown">
            <div class="icono_usuario"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">account_user</i>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li ng-class="{'active': c.isActive('usuario/registrarse')}" ng-show="!c.logged">     
                        <a href="usuario/registrarse">Registrarse</a>
                    </li>
                    <li  ng-class="{'active': c.isActive('usuario/login')}" ng-show="!c.logged">     
                        <a href="usuario/login">Login</a>
                    </li>
              
                    <li ng-show="c.logged">
                        <a class="dropdown-item" href="usuario/view/{{c.loggeduserid}}"><i class="fas fa-user"> </i> Perfil</a>
                        <a class="dropdown-item" href="usuario/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                        <a class="dropdown-item" href="usuario/editpass/{{c.loggeduserid}}"><i class="fas fa-key"></i> Cambiar contraseña</a>
                        <a class="dropdown-item" href="factura/plistxusuario/10/1/{{c.loggeduserid}}"><i class="fas far fa-file"></i> Ver facturas</a>
                        <a class="dropdown-item" href="usuario/logout"><i class="fas far fa-file"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</div>


