<div class="row menu_selection">
    <div class="col-md-12 ml-sm-auto col-lg-12 px-4 d-flex justify-content-between ml-5">
        <a href="tipousuario/plist" class="box first" >
           <span class="icon-cont"><i class="material-icons">
                    group
                </i></span>
            <h3>tipo usuario</h3>
        </a>
        <a href="usuario/plist" class="box first">
             <span class="icon-cont"><i class="material-icons">account_circle</i></span>
            <h3>usuario</h3>
        </a>
        <a href="producto/plist" class="box first">
            <span class="icon-cont"><i class="material-icons">
local_pizza
</i></span>
            <h3>producto</h3>
        </a>
        <a href="tipoproducto/plist" class="box first">
            <span class="icon-cont"> <i class="material-icons">
                    fastfood
                </i></span>
            <h3>tipo producto</h3>
        </a>
        <a href="restaurante/plist" class="box first">
             <span class="icon-cont"> <i class="material-icons">
                   local_dining
                </i></span>
            <h3>restaurante</h3>
        </a>
        <a href="municipio/plist" class="box first">
            <span class="icon-cont"><i class="material-icons">
                    place
                </i></span>
            <h3>municipio</h3>
        </a>
         <a href="administrador/plist" class="box first">
          <span class="icon-cont"><i class="material-icons">
perm_identity
</i></span>
            <h3 class="h3_admin">{{c.loggeduser}}</h3>
        </a>
    </div>