<div class="row menu_selection">
    <div class="col-md-12 ml-sm-auto col-lg-12 px-4 d-flex justify-content-between ml-5">
        <a href="tipousuario/plist" class="box first" >
            <span class="icon-cont"><i class="fa fa-rocket"></i></span>
            <h3>tipo usuario</h3>
        </a>
        <a href="usuario/plist" class="box first">
            <span class="icon-cont"><i class="fa fa-rocket"></i></span>
            <h3>usuario</h3>
        </a>
        <a href="producto/plist" class="box first">
            <span class="icon-cont"><i class="fa fa-rocket"></i></span>
            <h3>producto</h3>
        </a>
        <a href="tipoproducto/plist" class="box first">
            <span class="icon-cont"><i class="fa fa-rocket"></i></span>
            <h3>tipo producto</h3>
        </a>
        <a href="restaurante/plist" class="box first">
            <span class="icon-cont"><i class="fa fa-cutlery"></i></span>
            <h3>restaurante</h3>
        </a>
        <a href="municipio/plist" class="box first">
            <span class="icon-cont"><i class="fa fa-rocket"></i></span>
            <h3>municipio</h3>
        </a>
    </div>