<div class="body">
     <div class="header d-flex">
    <div class="nav1">

        <input type="checkbox" id="menu-btn" name="Menu">
        <label id="menu-lbl" for="menu-btn"></label>
        <nav itemscope itemtype="http://schema.org/SiteNavigationElement" >
            <a class="label_white" ng-click="c.productos()">PRODUCTOS</a>
            <a class="label_white"  ng-click="c.locales()">LOCALES</a>
            <a class="label_white" ng-click="c.empresa()">EMPRESA</a>
            <a class="label_white" ng-click="c.contacto()">CONTACTO</a>
        </nav>
    </div>
    <div class="logo">
        <a href="/delivery/home">
            <img src="images/logo.png" class="logo_img" alt="Responsive image">
        </a>
    </div>
    <div class="vacio flex-grow-1"></div>
    <div class="login">
        <div class="dropleft">
            <div  class="icono_usuario dropdown-toggle" data-toggle="dropdown">
                <i class="material-icons md-48" ng-class="{'con-clase': c.logged}">
                    account_circle
                </i> 
            </div>
            <div class="dropdown-menu">
                <a class="dropdown-item label_white"  ng-show="!c.logged" href="usuario/registrarse"><i class="fas fa-user"> </i>    REGISTRARSE</a>  
                <a class="dropdown-item label_white" ng-show="!c.logged" href="usuario/login"><i class="fas fa-user"> </i>    LOGIN</a>
                <a class="dropdown-item label_white" ng-show="c.logged" href="usuario/viewusuariocliente/{{c.loggeduserid}}"><i class="fas fa-user"> </i>  PERFIL</a>
                <a class="dropdown-item label_white" ng-show="c.logged" href="factura/facturacliente/10/1/{{c.loggeduserid}}"><i class="fas far fa-file"></i>  VER FACTURAS</a>
                <a class="dropdown-item label_white" ng-show="c.logged" href="usuario/logout"><i class="fas fa-sign-out-alt"></i>  LOGOUT</a>
            </div>
        </div>
    </div>

  </div>
    <div class="imgprincipal">
  
    <div class="nav_home">


        <figure class="menu producto" ng-click="productos()">
            <img src="/delivery/images/clasica.jpg" alt="productos"/>
            <figcaption>
                <h2><span> PRODUCTOS</span></h2>
            </figcaption>
        
        </figure>
        <figure class="menu local" ng-click="locales()">
            <img src="/delivery/images/local.jpg" alt="locales"/>
            <figcaption>
                <h2><span>LOCALES</span></h2>
            </figcaption>
         
      
        </figure>
        <figure class="menu contacto" ng-click="contacto()">
            <img src="/delivery/images/contacto.jpg" alt="contacto" />
            <figcaption>
                <h2><span>CONTACTO</span></h2>
            </figcaption>
        </figure>
        <figure class="menu empresa" ng-click="empresa()">
            <img src="/delivery/images/empresa.jpg"  alt="nuestra empresa" />
            <figcaption>
                <h2>EMPRESA</h2>
            </figcaption>
       
        </figure>
 </div>











    </div>
    <footer>
        <div class="footer d-flex">
            <div class="rrss tw"></div>
            <div class="rrss fb"></div>
            <div class="rrss in"></div>
            <div class="label_footer">PROYECTO FINAL - DAW - JAUME MONZONIS LAZARO</div>

        </div>

    </footer>
</div>
