
<headerclient-component></headerclient-component>
<div class="body_home">
    <div class="imgprincipal">
  
    <div class="nav_home">


        <figure class="menu producto" ng-click="productos()">
            <img src="/delivery/images/clasica.jpg" alt="productos"/>
            <figcaption>
                <h2><span> PRODUCTOS</span></h2>
            </figcaption>
        
        </figure>
        <figure class="menu local" ng-click="locales()">
            <img src="/delivery/images/local.jpg" alt="locales"/>
            <figcaption>
                <h2><span>LOCALES</span></h2>
            </figcaption>
         
      
        </figure>
        <figure class="menu contacto" ng-click="contacto()">
            <img src="/delivery/images/contacto.jpg" alt="contacto" />
            <figcaption>
                <h2><span>CONTACTO</span></h2>
            </figcaption>
        </figure>
        <figure class="menu empresa" ng-click="empresa()">
            <img src="/delivery/images/empresa.jpg"  alt="nuestra empresa" />
            <figcaption>
                <h2>EMPRESA</h2>
            </figcaption>
       
        </figure>
 </div>











    </div>
    <footer>
        <div class="footer d-flex">
            <div class="rrss tw"></div>
            <div class="rrss fb"></div>
            <div class="rrss in"></div>
            <div class="label_footer">PROYECTO FINAL - DAW - JAUME MONZONIS LAZARO</div>

        </div>

    </footer>
</div>
