<header-component></header-component>
<nav-component></nav-component>
<div class="container-fluid">
     <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3">


                </div>
  <div class="row">
    <div class="col-12">

              <div class="mx-auto col-md-8 col-sm-10 col-12 col-lg-5 col-xl-5 container2">
          <div class="row mt-4">
                <div class=" mx-auto">
                    <h4 class="text-center mb-3"><i class="material-icons">add_circle_outline</i> Crear municipio</h4>
                </div>
            </div>
        
        
     
        <div class=" mx-auto">
               <div class="alert alert-success text-center" role="alert" ng-show="(visualizar)">
                Municipio creado correctamente.
            </div>
          <form name="userForm" ng-show="(!visualizar)">
       
           
            <div class="form-group">
              <label>Población</label>
              <input type="text" class="form-control" id="poblacion" name="poblacion" ng-model="poblacion" ng-required="true" placeholder="Población" />
              <div ng-show="!userForm.poblacion.$valid && !userForm.poblacion.$pristine" class="alert alert-danger" role="alert">
                Población obligatoria
              </div>
            </div>
    <label for="obj_area">AREA:</label>
                        <div class="form-group row ml-3">
                            <area-selection 
                                class="modal fade" 
                                id="cadd-location-modal" 
                                obj="obj_area"
                                on-tipousuario-set="areaRefresh(this,false)">                          
                            </area-selection>

                            <div class="control">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                              data-toggle="modal"
                                              data-target="#cadd-location-modal">
                                            <span class="material-icons mr-2">youtube_searched_for</span>
                                        </span>
                                    </div>
                                    <input ng-model="obj_area.id"
                                           ng-change="areaRefresh(this, true)"
                                           aria-describedby="basic-addon2"
                                           class="form-control col-sm-2"
                                           id="obj_area"
                                           name="obj_area"
                                           type="text"
                                           ng-required
                                           ng-model-options="{debounce: 1000}"
                                           maxlength="2" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <a href="/delivery/area/view/{{obj_area.id}}">
                                               <span class="p-2 bd-highlight"><i class="material-icons">
                                                       public
                                                    </i></span>
                                               AREA: {{obj_area.nombre}}
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div ng-show="!userForm.obj_area.$valid">Area no válida</div>
                            </div>
                        </div>
            <button ng-click="update()" type="button" class="btn btn-rojo btn-block" ng-disabled="userForm.$invalid">Crear municipio</button>
         
          </form> 
             <div class="alert alert-success text-center" role="alert" ng-show="(error)">
                Error al crear Municipio.
            </div>
            <button type="button" class="btn btn-primary btn-block mt-2 mb-3" ng-click="volver()">Volver</button>

          
        </div>
      </div>
    </div>
  </div>
</div>
      