<header-component></header-component>
<nav-component></nav-component>
<div class="container-fluid">
    <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">


    </div>
    <div class="row">
        <div class="col-12">

            <div class="col-5 mx-auto container2 pl-3 pr-3">
                <div class="row mt-4">
                    <div class=" mx-auto">
                        <h4 class="text-center mb-3"><i class="material-icons">add_circle_outline</i> Editar producto</h4>
                    </div>
                </div>



                <div class=" mx-auto">
                    <div class="alert alert-success" role="alert" ng-show="(visualizar)">
                        Producto editado correctamente.
                    </div>
                    <form name="userForm" ng-show="(!visualizar)">

                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" id="id" name="id" ng-disabled="true" ng-model="id" />
                        </div>
                        <div class="form-group">
                            <label>Codigo</label>
                            <input type="text" class="form-control" id="codigo" name="codigo" ng-model="codigo" ng-required="true" />
                            <div ng-show="!userForm.codigo.$valid && !userForm.codigo.$pristine" class="alert alert-danger" role="alert">
                                Codigo obligatorio
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Descripción</label>
                            <input type="text" class="form-control" id="desc" name="desc" ng-model="desc" ng-required="true" />
                            <div ng-show="!userForm.desc.$valid && !userForm.desc.$pristine" class="alert alert-danger" role="alert">
                                Descripción obligatoria
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Existencias</label>
                            <input type="text" class="form-control" id="existencias" name="existencias" ng-model="existencias" ng-required="true" />
                            <div ng-show="!userForm.existencias.$valid && !userForm.existencias.$pristine" class="alert alert-danger" role="alert">
                                existencias obligatoria
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Precio</label>
                            <input type="text" class="form-control" id="precio" name="precio" ng-model="precio" ng-required="true" />
                            <div ng-show="!userForm.precio.$valid && !userForm.precio.$pristine" class="alert alert-danger" role="alert">
                                precio obligatorio
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Foto</label>
                            <!-- <input type="text" class="form-control" id="foto" name="foto" ng-model="ajaxDatoProducto.foto" ng-required="true" />
                             <div ng-show="!userForm.foto.$valid" class="alert alert-danger" role="alert">
                                 Foto obligatoria
                             </div>-->
                            <input type="file" file-model="foto"/>
                        </div>
                        <label for="obj_tipoProducto">Tipo de producto:</label>
                        <div class="form-group row ml-3">
                            <tipoproducto-selection 
                                class="modal fade" 
                                id="cadd-location-modal" 
                                obj="obj_tipoProducto"
                                on-tipoproducto-set="tipoProductoRefresh(this,false)">                          
                            </tipoproducto-selection>

                            <div class="control">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                              data-toggle="modal"
                                              data-target="#cadd-location-modal">
                                            <i class="material-icons">
                                                fastfood
                                            </i>
                                        </span>
                                    </div>
                                    <input ng-model="obj_tipoProducto.id"
                                           ng-change="tipoProductoRefresh(this, true)"
                                           aria-describedby="basic-addon2"
                                           class="form-control col-sm-2 ml-2"
                                           id="obj_tipoProducto"
                                           name="obj_tipoProducto"
                                           type="text"
                                           ng-required
                                           ng-model-options="{debounce: 1000}"
                                           maxlength="2" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <a href="../tipoproducto/view/{{obj_tipoProducto.id}}">
                                                <span class="p-2 bd-highlight"><i class="material-icons">
                                                        youtube_searched_for
                                                    </i></span>
                                                Tipo de producto: {{obj_tipoProducto.desc}}
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div ng-show="!userForm.obj_tipoProducto.$valid">Tipo de producto no válido</div>
                            </div>
                        </div>








                        <button ng-click="update()" type="button" class="btn btn-primary btn-block" ng-disabled="userForm.$invalid">Editar producto</button>

                    </form> 
                    <div class="alert alert-success" role="alert" ng-show="(error)">
                        Error al editar el producto.
                    </div>
                    <button type="button" class="btn btn-primary btn-block mt-2" ng-click="back()">Volver</button>


                </div>
            </div>
        </div>
    </div>
</div>
