<header-component></header-component>
<nav-component></nav-component>
<div class="container-fluid">

    <div class="row">
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">


            <div class="col-md-12 ml-sm-auto col-lg-12 mt-3">
                  <div class="btn-toolbar mb-2 mb-md-0 float-left">
                        <div class="btn-group" style="width:270px; margin-left: -5%;">
                            <p class="mt-2" style="width:200px;">Registros por pagina:</p>
                            <select class="form-control form-size" 
                                    ng-change="update()" 
                                    ng-model="rpp">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                            </select>
                        </div>

                        <button type="button" class="btn btn-just-icon btn-sm mt-3 reseticon" ng-click="resetOrder()">
                            <i class="material-icons">cached</i>
                        </button>
                    </div>
                  <div class="float-right create_btn_margin">
                    <a href="{{ob}}/new/" class="btn btn-sm  float-right btn-rojo" role="button" aria-pressed="true"><i class="material-icons">
                            add_circle_outline</i> Crear nuevo restaurante</a>

                </div>
            </div>




            <div class="table-responsive container2 mb-2 pl-3 pr-3 pt-3">
                <table class="table table-sm">
                    <tr>
                          <th>
                            <div>
                                <p class="float-left ml-5">ID</p>
                                <div class="order float-left" ng-click="ordena('id', 'asc')">
                                    <i class="material-icons asc ml-1">
                                        keyboard_arrow_up
                                    </i>
                                </div>
                                <div class="order float-left " ng-click="ordena('id', 'desc')">
                                    <i class="material-icons asc">
                                        keyboard_arrow_down
                                    </i>
                                </div>
                            </div>
                        </th>
                           <th>
                           <div>
                                <p class="float-left ml-5">NOMBRE</p>
                                <div class="order float-left" ng-click="ordena('nombre', 'asc')">
                                    <i class="material-icons asc ml-1">
                                        keyboard_arrow_up
                                    </i>
                                </div>
                                <div class="order float-left " ng-click="ordena('nombre', 'desc')">
                                    <i class="material-icons asc">
                                        keyboard_arrow_down
                                    </i>
                                </div>
                            </div>
                           </th>
                         <th>
                            <div>
                                <p class="float-left ml-5">DIRECCION</p>
                                <div class="order float-left" ng-click="ordena('direccion', 'asc')">
                                    <i class="material-icons asc ml-1">
                                        keyboard_arrow_up
                                    </i>
                                </div>
                                <div class="order float-left " ng-click="ordena('direccion', 'desc')">
                                    <i class="material-icons asc">
                                        keyboard_arrow_down
                                    </i>
                                </div>
                            </div>
                        </th>
                            <th>
                            <div>
                                <p class="float-left ml-5">POBLACION</p>
                                <div class="order float-left" ng-click="ordena('poblacion', 'asc')">
                                    <i class="material-icons asc ml-1">
                                        keyboard_arrow_up
                                    </i>
                                </div>
                                <div class="order float-left " ng-click="ordena('poblacion', 'desc')">
                                    <i class="material-icons asc">
                                        keyboard_arrow_down
                                    </i>
                                </div>
                            </div>
                        </th>

                        <th> 
                            <p>ACCIONES</p> 
                        </th>
                    </tr>
                    <tr ng-repeat="fila in ajaxDataUsuarios">
                        <td>{{fila.id}}</td>
                        <td>{{fila.nombre}}</td>
                        <td>{{fila.direccion}}</td>
                        <td>{{fila.poblacion}}</td>
                        <td>
                            <button type="button" rel="tooltip" class="btn btn-just-icon btn-sm" ng-click="view(fila.id)">
                                <i class="material-icons">visibility</i>
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-just-icon btn-sm" ng-click="edit(fila.id)">
                                <i class="material-icons">create</i>
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-just-icon btn-sm" ng-click="remove(fila.id)">
                                <i class="material-icons">delete_forever</i>
                            </button></td>
                    </tr>
                </table>

            </div>
            <div class="col-md-12 ml-sm-auto col-lg-12 mb-5">  
                <div class="row d-flex justify-content-center flex-wrap align-items-center">
                    <nav aria-label="paginacion">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link text-pagination bg-light" ng-show="page > 2" href="{{ob}}/plist/{{rpp}}/1/{{order}}/{{align}}">First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link text-pagination bg-light" ng-show="page > 1" href="{{ob}}/plist/{{rpp}}/{{page - 1}}/{{order}}/{{align}}">Previous</a>
                            </li>
                            <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                                <a class="page-link text-pagination" href="{{ob}}/plist/{{rpp}}/{{p}}/{{order}}/{{align}}">{{p}}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link text-pagination bg-light" ng-show="page != totalPages" href="{{ob}}/plist/{{rpp}}/{{page--1}}/{{order}}/{{align}}">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link text-pagination bg-light" ng-show="page != totalPages - 1 && page != totalPages" href="{{ob}}/plist/{{rpp}}/{{totalPages}}/{{order}}/{{align}}">Last</a>
                            </li>
                        </ul>
                    </nav>
                </div>



            </div>
        </main>
    </div>
</div>
