

html *{
    font-family: 'Convergence', sans-serif;
    box-sizing: border-box;
    max-width:100vw;

}


body {
    background-color: white;
    max-width:100vw;
}

.contain{
    margin-bottom: 5%;
}


a {
    color: #3e3947 !important;
    text-decoration: none;
}

a:hover{
    color: #89229b !important;
    text-decoration: none !important;
}
a:focus {
    color: #89229b !important;
    text-decoration: none !important;
}

.container-fluid{
    margin-bottom: 1%;
}

.container2 {
    background-color: white !important;
    border: 10px #F9B157 solid;
    height: auto;

}


/* botones acciones */

.order{
    color: #F9B157;
    background-color: white !important;
    border: none;
    height: 10px; 

}
.btn-toolbar{

    margin-left: 0%;
}

.btn-group{
    position: relative;
    margin: 10px 1px;
    display: inline-flex;
    vertical-align: middle;
}
.btn-group .btn{
    padding: 6.5px 20px !important;
}
.btn.btn-round{
    border-radius: 30px !important;
}

.btn-group .btn.btn-round{
    border-radius: 30px !important;
}

.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.btn-group>.btn:not(:first-child) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.btn{
    padding: 12px 30px !important;
    margin: 5px 1px;
    font-size: 12px;
    box-shadow: 0 2px 2px 0 hsla(0,0%,60%,.14), 0 3px 1px -2px hsla(0,0%,60%,.2), 0 1px 5px 0 hsla(0,0%,60%,.12);
    background-color: #21778F !important;
    color: white !important;
}
.btn .material-icons{
    position: relative;
    display: inline-block;
    top: 0;
    margin-top: -1.2em;
    margin-bottom: -1em;
    font-size: 1.1rem;
    vertical-align: middle;
}
.btn.btn-sm{
    border-radius:3px !important;
}

.btn.btn-just-icon.btn-sm {
    height: 30px;
    min-width: 30px;
    width: 30px;
}

.btn.btn-just-icon {
    font-size: 24px;
    height: 41px;
    min-width: 41px;
    width: 41px;
    padding: 0 !important;
    overflow: hidden;
    position: relative;
    line-height: 41px;
}

.btn.btn-just-icon.btn-round {
    border-radius: 50% !important;
}


.btn.btn-just-icon .material-icons {
    margin-top: 0;
    position: absolute;
    width: 100%;
    transform: none;
    left: 0;
    top: 0;
    height: 100%;
    line-height: 41px;
    font-size: 20px;
}

.btn.btn-just-icon.btn-sm .material-icons {
    font-size: 17px; 
    line-height: 29px; 
}

.btn-outline-secondary {
    border-color: #A62B21 !important;
    color: #A62B21 !important;
}

.btn-rojo{

    background-color: #A62B21 !important;  
}


.hover-ajena:hover {
    color: #F9B157 !important;
}

.create_btn_margin{
    margin-right:-17px !important;
}

/* tabla */
.table > tbody > tr > td{
    vertical-align: middle;
    max-width: 100px;
}

.table th{
    border-top: none !important;
    vertical-align: middle;
    text-transform: uppercase;
}
.form-group>label{
    text-transform: uppercase; 
}

.table .ver{
    border-top: 1px solid #dee2e6 !important;
}

.table {
    width: 100%;
    max-width: 100%;
    text-align: center;
    background-color: transparent;
    vertical-align: middle;
}

th {
    font-size: 14px;
    color:  #A62B21;
    text-align: center !important;
}



td{
    vertical-align: middle;
    border-color: #F9B157;
    font-weight: 100;
    font-size:14px;
    color: #3c4858;
}
h4, h3{
    text-transform: uppercase;
}









/*paginacion y registros por pagina*/

select{
    width: 21% !important;
    color: #F9B157 !important;
}

.selectMunicipio{
    width: 100% !important;
    color: #495057 !important;
}


.form-size{
    font-size: 70% !important; 
    width: 25% !important;  
    color: #A62B21 !important;
    border: 1px solid #F9B157 !important;
    margin-right: 12% !important;
}

.reseticon{
    margin-left: -5% !important;
}

.pagination{
    color: #F9B157 !important;
    padding-top: 4%;

}

.page-link{
    background-color: #F9B157 !important;
    color: #A62B21 !important;

}

.row_etiquetas{
    margin-right: -9%;
}

.text-pagination {
    color: #21778F !important;
}
.text-pagination:hover {
    color: #A62B21 !important;
}

.menu_selection{
    margin: 1% auto auto auto !important;
}

.box {
    width: 20%;
    height: 180px;
    margin: 0.2%;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    background: #036C81;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    cursor: pointer;
}

.box_second {
    width: 20%;
    height:85px;
    margin: 0.2%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    cursor: pointer;
}


.box_transparent {
    width: 20%;
    height:85px;
    margin: 0.2%;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    background: transparent;
    position: relative;
    overflow: hidden;

}



.box .icon-cont {
    border: 6px solid rgba(255,255,255,0.3);
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin: 20px auto;
    display: block; 
    text-align: center;
    background: #036C81;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 5;

    box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);
}


.box .icon-cont i {
    color: #fff;
    opacity: 0.6;
    font-size: 2.5em;
    line-height: 75px;
    margin-top: -10%;
}
.box:hover .icon-cont {
    animation: shady 4s linear infinite;
}

@keyframes shady {
    0% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
    20% {box-shadow: 0 0 0 100px rgba(255,255,255,0), 0 0 0 0px rgba(3, 108, 129, 0);}
    20.1% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
    50% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
    70% {box-shadow: 0 0 0 100px rgba(255,255,255,0), 0 0 0 0px rgba(3, 108, 129, 0);}
    70.1% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
    100% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
}

.box h3 {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid rgba(255,255,255,0);

    position: absolute;
    top: 125px;
    width: 70%;
    left: 15%;
    z-index: 4;
}

.box_second h3 {
    color: #fff;
    font-weight: 100;
    font-size: 80%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid rgba(255,255,255,0);

    position: absolute;
    top: 37%;
    width: 70%;
    left: 15%;
    z-index: 4;
}

.color_second{
    background: #1E7787;
}

.color_third{
    background: #398998;
}
.color_four{
    background: #6199A4;
}
.color_five{
    background: #FFBC68;
}
.box h3 .label_restaurante{
    left: 12%;    
}
.h3_admin{
    font-size: 15px !important;
    left: 15% !important;
}

.h3_admin2{
    font-size: 15px !important;
    left: 10% !important;
}
/* navbar */
.navbar{
    height: 70px !important;
}

.material-icons.md-36 { font-size: 36px; }

.nav_user{
    margin-top: 4% !important;
}

.nav_logosecundary{
    padding-top: 28% !important;
}

.collapse{
    color: white !important;
}

.navegador{
    background-color: #F9B157;
}

.btn-login {


}

.btn-primary {
    color:white !important;
    background-color:#A62B21 !important;
}

/* ventana emergente */
.modal-footer{

    border-top: none !important;
}

.active{
    opacity: 0.8 !important;
}

/* --------------------------------------------------
-----------------------------------------------------
---------------CLIENTE------------------------------*/

.body {
    background-color: #036C81;
    /*  display: grid;*/
    /*  grid-template-columns: 10vw auto;
      grid-template-rows:15vh;*/
}



.body2 {
   background-image: linear-gradient(#036C81, #038DA7);
    display: grid;
    grid-template-columns: 7vw auto 7vw;
    grid-template-rows:100vh auto minmax( 15vh , auto );
}
.body_plist {
   background-image: linear-gradient(#036C81, #038DA7);
    display: grid;
    grid-template-columns: 7vw auto 7vw;
    grid-template-rows:50vh auto 15vh;
}
.imgprincipal{
    grid-area: 1/2/2/3;
    background-image: url("../images/imagen_principal3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    width: 100%;
    height: 118vh;
    margin-left: auto;
    margin-right: auto;
}

.imgproductos{
    grid-area: 1/2/2/3;
    background-image: url("../images/principal_producto.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    width: 100%;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
}
.imgcarrito{
    grid-area: 1/2/2/3;
    background-image: url("../images/principal_producto.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    width: 100%;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
}
/* NAV*/
.nav1, .logo, .login {
    height:12vh;
    width:7vw;

}
.nav1 {
    background-color:#A62B21;

}
.logo {
    background-color:#F9B157;

}
.login {
    background-color:#A62B21;
    float: right !important;
}
/* boton usuario*/
.label {
    font-size: 60px;
    margin-left: -3%;
    margin-bottom: -3%;
    font-weight: 900;
    opacity: 0.7;
}
.label.prod1.top{
    margin-top:22%;
}
.label.prod1.top_plistproductos{
    margin-top:5%;
}

.label.prod1{
    color: #F9B157;
}
.label.prod2{
    color: #A62B21;
}
.label.prod3{
    color: #055969;
}


.icono_usuario{
    height:15vh !important;

}

.dropdown-menu.show, .dropdown-menu{
    left:-60% !important;
    top:-24% !important;
    color: white !important;
    font-weight: 900;
    background-color: #F9B157;
    font-size: 20px;
    border-radius: 0px !important;
}
.dropdown-item.label_white:hover{
    background-color: #F9B157 !important;
    color: #A62B21 !important;
}
.material-icons.md-48{
    font-size:3vw;
    padding-left: 30%;
    padding-top: 19%;
    color: white;
}

.label_registrarse{
    padding-right:16% !important;
}

/* desplegable*/
nav {
    position: relative;
    padding: 0;
    display: block;
    width: 20%;
    background: #F9B157;
    height: 0px;
    transition: all 0.1s ease;
    overflow-y: hidden;
}
nav>a {
    display: block;
    height: 30px;
    color: #D4380A;
    padding: 8% 5%;
    text-decoration: none;
    font-size: 25px;
    transition: all 0.3s ease;
}

nav>a:hover {
    color: #A62B21 !important;
}

input#menu-btn {
    opacity: 0;
    display:none;
} 
label#menu-lbl {
    display: flex;
    padding: 0;
    margin-left: 25%;
    margin-top:15%;
    width: 38px;
    height: 38px;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
}
label#menu-lbl:hover {
    opacity: 0.7;
}
input#menu-btn + label::before,
input#menu-btn + label::after {
    z-index: 100;
    position: absolute;
    content: "";
    width: 40px;
    height: 4px;
    background: white;
    margin: 23px 4px 0;
    box-shadow: 0px -10px white, 0px 10px white;
    transition: all 0.15s ease-in;
}
input#menu-btn:checked + label::before {
    border: none;
    box-shadow: none;
    transform: rotate(45deg);
}
input#menu-btn:checked + label::after {
    border: none;
    box-shadow: none;
    transform: rotate(-45deg);
}
#menu-btn:checked + #menu-lbl + nav {
    display: block;
    height: calc(30vh);
    width: 280%;
    z-index: 1;
    margin-top: 20%;
}

.label_white{
    color: white !important;
    font-weight: 900;
}

/* FOOTER CLIENTE*/
footer {
    grid-area: 3/1/4/4;

}
.footer {
    background-color:#3b56a3;
    height: 50%;
    margin-left: 5%;
    margin-right: 5%;
}

.rrss{
    width: 4%;
   background-repeat: no-repeat;
}


.fb {
   background: url("../images/fb.png"); 
   background-size: 100% 100%;
}
.tw {
   background: url("../images/tw.png"); 
      background-size: 100% 100%;
}
.in {
   background: url("../images/inst.png");
   background-size: 100% 100%;
}
.label_footer{
    color: white;
   display: block;
  margin: auto;

}

/* MENU PRODUCTOS CLIENTE*/
.nav{
    grid-area: 2/2/3/3;
     display: grid !important;
  grid-template-columns: 40vw 20vw auto;
  grid-template-rows:50vh 50vh;
  margin-top:-10%;
}

figure.menu {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
 
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

figure.menu * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure:first-child{
  width:100%;
  height:100%;
  margin-left:auto;
  margin-top: auto;
  grid-area: 1 / 1 / 1 / 1
}
figure:nth-child(2n){
   width:88%;
  height:100%;
margin-top: auto;

   grid-area: 1 / 2 / 2 / 3
}
figure:nth-child(3n){
    width:40%;
  height:70%;
  margin-left:auto;
  
  grid-area: 2 / 1 / 2 / 2
}
figure:nth-child(4n){
   width:150%;
  height:50%;
  margin-top: 5%;
   grid-area: 2 / 2 / 3 / 3
}

figure.menu.producto img{
   max-width: 120%;
  position: relative;
  opacity: 0.4;
}
figure.menu.local img{
  width: 100%;
  height:110%;
    position: relative;
  opacity: 0.4;
}
figure.menu.contacto img{
  width: 100%;
  height:100%;
    position: relative;
  opacity: 0.4;
  
}
figure.menu.empresa img{
  width: 100%;
  height:120%;
  position: relative;
  opacity: 0.4;
}

figure.menu figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.menu h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
}

figure.menu h2 span {
  font-weight: 800;
}

figure.menu:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  background: #ffffff;
  position: absolute;
  transition: all 0.3s ease-in-out;
  transform: rotate(110deg) translateY(-50%);
}

figure.menu:nth-child(2n):before{
  transform: rotate(110deg)  translateY(-35%);
  top:-30px;
  width:150%;
}

figure.menu:nth-child(3n):before{
  transform: rotate(110deg)  translateY(-40%);
  width:120%;
}

figure.menu:nth-child(4n):before{
  transform: rotate(110deg) translateY(-5%);
  width:165%;
}
figure.menu a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.menu.producto {
  background: #581a14;

}

figure.menu.producto h2 {
  background:  #cd6155 ;
}

figure.menu.local {
  background: #f7dc6f;
}

figure.menu.local h2 {
  background:  #d4ac0d;
}
figure.menu.contacto {
  background:  #f8c471;


}

figure.menu.contacto h2 {
  background:  #ca6f1e;
    font-size: 25px;
}
figure.menu.empresa {
  background: #7f5006;
}

figure.menu.empresa h2 {
  background: #583804;
}

figure.menu:hover img,
figure.menu.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.menu:hover h2,
figure.menu.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.menu:hover:before,
figure.menu.hover:before {
  transform: rotate(10deg) translateY(-150%);
}


.rrss1{
    position: relative;
 margin-top: 44%;

   grid-area: 1 / 3 / 2 / 4
}

.fb1{
  height:50px;
  width:50px;
   background: url("../images/fb.png");
  background-size: 50px 50px;
}
.tw1{
  height:50px;
  width:50px;
    margin-top: 10px;
  background: url("../images/tw.png");
  background-size: 50px 50px;
}
.in1{
  height:50px;
  width:50px;
  margin-top: 10px;
   background: url("../images/inst.png");
  background-size: 50px 50px;
}

/* LISTA PRODUCTOS CLIENTE*/

#make-3D-space{
    width:340px;
    height:500px;
    transform-style: preserve-3d;
    transition: transform 5s;   
    top:80px;

}
#product-front, #product-back{
	width:110%;
	height:110%;
	background:#fff;
	position:absolute;
	left:-5px;
	top:-5px;
	-webkit-transition: all 100ms ease-out; 
       -moz-transition: all 100ms ease-out; 
         -o-transition: all 100ms ease-out; 
            transition: all 100ms ease-out; 
}
#product-back{
	display:none;
	transform: rotateY( 180deg );
}
#product-card.animate #product-back, #product-card.animate #product-front{
	top:0px;
	left:0px;
	-webkit-transition: all 100ms ease-out; 
       -moz-transition: all 100ms ease-out; 
         -o-transition: all 100ms ease-out; 
            transition: all 100ms ease-out; 
}
#product-card{
	width:325px;
	height:490px;
	position:absolute;    
	top:10px;
	left:10px;	
	overflow:hidden;
    transform-style: preserve-3d;
	-webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out;
}

#product-card:hover{
	top:5px;
	left:5px;
	width:335px;
	height:500px;
	box-shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);
	-webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out; 
}
.stats-container{
	background:#fff;	
	position:absolute;
	top:386px;
	left:0;
	width:95%;
	height:90%;
	padding:27px 35px 35px;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out;
}
#product-card:hover .stats-container{
	top:272px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.stats-container .product_name{
	font-size:22px;
	color:#393c45;	
}
.stats-container p{
	font-size:16px;
	color:#b1b1b3;	
	padding:2px 0 20px 0;
}
.stats-container .product_price{
	float:right;
	color:#48cfad;
	font-size:22px;
	font-weight:600;
}
.image_overlay{
	position:absolute;
	top:0;
	left:0; 
	width:100%;
	height:100%;
	background:#48daa1;
	opacity:0;	
}
#product-card:hover .image_overlay{
	opacity:0.7;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.product-options{
	padding:2px 0 0;
}
.product-options strong{
	font-weight:700;
	color:#393c45;
	font-size:14px;
}
.product-options span{	
	color:#969699;
	font-size:14px;
	display:block;
	margin-bottom:8px;
}
#view_details{	
	position:absolute;
	top:112px;
	left:50%;
	margin-left:-85px;	
	border:2px solid #fff;
	color:#fff;
	font-size:19px;
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;
	width:172px;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
#view_details:hover{	
	background:#fff;
	color:#48cfad;
	cursor:pointer;

}
#product-card:hover #view_details{
	opacity:1;
	width:152px;
	font-size:15px;
	margin-left:-85px;
	top:115px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}



div.shadow{
	width:335px;height:520px;
	opacity:0;
	position:absolute;
	top:0;
	left:0;
	z-index:3;
	display:none;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.1),rgba(0,0,0,0.2));
    background: -o-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.2)); 
}
#product-back div.shadow{
	z-index:10;
	opacity:1;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.2),rgba(0,0,0,0.1));
    background: -o-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.1)); 
}
/* BOTON FLECHA PLIST CARRITO*/

.flecha_btn{	

	border:2px solid #fff;
	color:#fff;
	font-size:19px;
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;
	width:100px;	
	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}

.flecha_btn:hover{	
	background:#fff;
	color:#48cfad;
	cursor:pointer;

}
.flechas{	
        margin-top:4%;
        margin-bottom: 4%;
}

.flechas_comprar{	
	margin-top:-3%;
}
/* BOTON CARRITO PLIST CARRITO*/
.icon_cart{
    position:absolute;
    top:0px;
    right:0px;
    margin-right: -4%;
        margin-top:1%;
}

.img_cart{
    width:50%;
 max-width: 50%;
  height: auto;
    
}
/* BOTON VACIAR CARRITO*/

.btn-amarillo{

    background-color: #F9B157 !important;  
}

.alerta_carrito_vacio{
    height: 40vh  !important; 
    margin-bottom: 2%  !important; 
}