html * {
  font-family: 'Convergence', sans-serif;
  box-sizing: border-box;
  max-width: 100vw; }

body {
  background-color: white;
  max-width: 100vw; }

.contain {
  margin-bottom: 5%; }

a {
  color: #3e3947 !important;
  text-decoration: none; }
  a:hover {
    color: white !important;
    text-decoration: none !important; }
  a:focus {
    color: #89229b !important;
    text-decoration: none !important; }

.container-fluid {
  margin-bottom: 1%; }

.container2 {
  background-color: white !important;
  border: 10px #F9B157 solid;
  height: auto; }

/* botones acciones */
.order {
  color: #F9B157;
  background-color: white !important;
  border: none;
  height: 10px; }

.btn-toolbar {
  margin-left: 0%; }

.btn-group {
  position: relative;
  margin: 10px 1px;
  display: inline-flex;
  vertical-align: middle; }

.btn-group .btn {
  padding: 6.5px 20px !important; }

.btn.btn-round {
  border-radius: 30px !important; }

.btn-group .btn.btn-round {
  border-radius: 30px !important; }

.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important; }

.btn-group > .btn:not(:first-child) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important; }

.btn {
  padding: 12px 30px !important;
  margin: 5px 1px;
  font-size: 12px;
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
  background-color: #21778F !important;
  color: white !important; }
  .btn .material-icons {
    position: relative;
    display: inline-block;
    top: 0;
    margin-top: -1.2em;
    margin-bottom: -1em;
    font-size: 1.1rem;
    vertical-align: middle; }

.btn.btn-sm {
  border-radius: 3px !important; }

.btn.btn-just-icon.btn-sm {
  width: 30px;
  height: 30px;
  min-width: 30px; }

.btn.btn-just-icon {
  font-size: 24px;
  width: 41px;
  height: 41px;
  min-width: 41px;
  padding: 0 !important;
  overflow: hidden;
  position: relative;
  line-height: 41px; }

.btn.btn-just-icon.btn-round {
  border-radius: 50% !important; }

.btn.btn-just-icon .material-icons {
  margin-top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: none;
  left: 0;
  top: 0;
  line-height: 41px;
  font-size: 20px; }

.btn.btn-just-icon.btn-sm .material-icons {
  font-size: 17px;
  line-height: 29px; }

.btn-outline-secondary {
  border-color: #A62B21 !important;
  color: #A62B21 !important; }

.btn-rojo {
  background-color: #A62B21 !important; }

.hover-ajena:hover {
  color: #F9B157 !important; }

.create_btn_margin {
  margin-right: -17px !important; }

/* tabla */
.table > tbody > tr > td {
  vertical-align: middle;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis; }

.table th {
  border-top: none !important;
  vertical-align: middle;
  text-transform: uppercase; }

.form-group > label {
  text-transform: uppercase; }

.table {
  width: 100%;
  max-width: 100%;
  text-align: center;
  background-color: transparent;
  vertical-align: middle; }
  .table .ver {
    border-top: 1px solid #dee2e6 !important; }

th {
  font-size: 14px;
  color: #A62B21;
  text-align: center !important; }

td {
  vertical-align: middle;
  border-color: #F9B157;
  font-weight: 100;
  font-size: 14px;
  color: #3c4858; }

h4, h3 {
  text-transform: uppercase; }

/*paginacion y registros por pagina*/
select {
  width: 21% !important;
  color: #F9B157 !important; }

.selectMunicipio {
  width: 100% !important;
  color: #495057 !important; }

.form-size {
  font-size: 70% !important;
  width: 25% !important;
  color: #A62B21 !important;
  border: 1px solid #F9B157 !important;
  margin-right: 12% !important; }

.reseticon {
  margin-left: -5% !important; }

.pagination {
  color: #F9B157 !important;
  padding-top: 4%; }

.page-link {
  background-color: #F9B157 !important;
  color: #A62B21 !important; }

.active {
  opacity: 0.8 !important; }

.row_etiquetas {
  margin-right: -9%; }

.text-pagination {
  color: #21778F !important; }
  .text-pagination:hover {
    color: #A62B21 !important; }

.menu_selection {
  margin: 1% auto auto auto !important; }

.menu_selection2 {
  margin: auto auto auto auto !important; }

.menu_nav {
  margin: 1% auto auto auto !important; }

.box {
  width: 20%;
  height: 180px;
  margin: 0.2%;
  padding: 5px;
  box-sizing: border-box;
  display: inline-block;
  background: #036C81;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  cursor: pointer; }
  @media (max-width: 769px) {
    .box {
      width: 49%;
      height: 120px; } }
  .box h3 {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    position: absolute;
    top: 125px;
    width: 70%;
    left: 15%;
    z-index: 4; }
    @media (max-width: 1024px) {
      .box h3 {
        font-size: 13px; } }
    @media (max-width: 769px) {
      .box h3 {
        font-size: 18px;
        left: 31%;
        top: 53px; } }
    @media (max-width: 480px) {
      .box h3 {
        display: none; } }
  .box .icon-cont {
    border: 6px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 44%;
    height: 40%;
    margin: 20px auto;
    display: block;
    text-align: center;
    background: #036C81;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 5;
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5), 0 0 0 0px rgba(3, 108, 129, 0.5); }
    @media (max-width: 1024px) {
      .box .icon-cont {
        width: 60%; } }
    @media (max-width: 769px) {
      .box .icon-cont {
        width: 19%;
        height: 54%;
        left: -212px; } }
    @media (max-width: 480px) {
      .box .icon-cont {
        width: 36%;
        height: 56%;
        left: 0px; } }
    .box .icon-cont i {
      color: #fff;
      opacity: 0.6;
      font-size: 2.5em;
      line-height: 75px;
      margin-top: -10%; }
      @media (max-width: 769px) {
        .box .icon-cont i {
          margin-top: -20%; } }

@media (max-width: 769px) {
  .responsive-homeadm {
    flex-wrap: wrap !important;
    justify-content: center !important; } }

.box_second {
  width: 20%;
  height: 85px;
  margin: 0.2%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  cursor: pointer; }
  @media (max-width: 769px) {
    .box_second {
      display: none !important; } }

.adm-plist-responsive {
  margin-left: 0px !important;
  margin-right: 0px !important; }
  @media (max-width: 769px) {
    .adm-plist-responsive div:first-child {
      margin-left: 0px !important;
      flex-wrap: wrap; } }
  @media (max-width: 480px) {
    .adm-plist-responsive div:first-child {
      padding-left: 0px !important;
      padding-right: 0px !important; } }
  @media (max-width: 769px) {
    .adm-plist-responsive .box_second {
      display: inline !important;
      width: 100%;
      height: 102px;
      padding-top: 2%; } }

.box_transparent {
  width: 20%;
  height: 85px;
  margin: 0.2%;
  padding: 5px;
  box-sizing: border-box;
  display: inline-block;
  background: transparent;
  position: relative;
  overflow: hidden; }
  @media (max-width: 769px) {
    .box_transparent {
      display: none !important; } }

.box:hover .icon-cont {
  animation: shady 4s linear infinite; }

@keyframes shady {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5), 0 0 0 0px rgba(3, 108, 129, 0.5); }
  20% {
    box-shadow: 0 0 0 100px rgba(255, 255, 255, 0), 0 0 0 0px rgba(3, 108, 129, 0); }
  20.1% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5), 0 0 0 0px rgba(3, 108, 129, 0.5); }
  50% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5), 0 0 0 0px rgba(3, 108, 129, 0.5); }
  70% {
    box-shadow: 0 0 0 100px rgba(255, 255, 255, 0), 0 0 0 0px rgba(3, 108, 129, 0); }
  70.1% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5), 0 0 0 0px rgba(3, 108, 129, 0.5); }
  100% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5), 0 0 0 0px rgba(3, 108, 129, 0.5); } }
@media (max-width: 769px) {
  .displaynonetablet {
    display: none !important; } }

.restaurante {
  left: 5% !important; }

.box_second h3 {
  color: #fff;
  font-weight: 300;
  font-size: 80%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  position: absolute;
  top: 37%;
  width: 70%;
  left: 15%;
  z-index: 4; }
  @media (max-width: 1024px) {
    .box_second h3 {
      font-size: 10px; } }
  @media (max-width: 769px) {
    .box_second h3 {
      font-size: 18px; } }

.color_second {
  background: #1E7787; }

.color_third {
  background: #398998; }

.color_four {
  background: #6199A4; }

.color_five {
  background: #FFBC68; }

.box h3 .label_restaurante {
  left: 12%; }

.h3_admin {
  font-size: 15px !important;
  left: 15% !important; }
  @media (max-width: 1024px) {
    .h3_admin {
      font-size: 13px !important; } }
  @media (max-width: 769px) {
    .h3_admin {
      font-size: 18px !important;
      left: 100px !important; } }

.h3_admin2 {
  font-size: 15px !important;
  left: 10% !important; }

/* nav component */
@media (max-width: 769px) {
  .menu_nav h3 {
    display: none; } }

@media (max-width: 480px) {
  .menu_nav .box {
    width: 49%;
    height: 70px; } }

@media (max-width: 769px) {
  .menu_nav .box .icon-cont {
    width: 81%;
    height: 55%;
    left: -3px; } }
@media (max-width: 480px) {
  .menu_nav .box .icon-cont {
    width: 86%;
    height: 55%;
    left: -3px;
    top: -3px; } }
@media (max-width: 480px) {
  .menu_nav .box .icon-cont i {
    font-size: 1.5em;
    margin-top: -24px; } }

@media (max-width: 480px) {
  .menu_nav .responsive-menu-nav-smartphone {
    padding-left: 0px !important;
    padding-right: 0px !important; } }

/* navbar */
.navbar {
  height: 70px !important; }

.material-icons.md-36 {
  font-size: 36px; }

.nav_user {
  margin-top: 4% !important; }

.nav_logosecundary {
  padding-top: 28% !important; }

.collapse {
  color: white !important; }

.navegador {
  background-color: #F9B157; }

.btn-primary {
  color: white !important;
  background-color: #A62B21 !important; }

/* ventana emergente */
.modal-footer {
  border-top: none !important; }

/* --------------------------------------------------
-----------------------------------------------------
---------------CLIENTE------------------------------*/
.body {
  display: grid;
  grid-template-columns: 7vw auto 7vw;
  grid-template-rows: 12vh auto 11vh;
  background-image: url("../images/principal.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto; }

.body_cliente {
  background-image: url("../images/cliente.png") !important; }

.body_plist {
  display: grid;
  grid-template-columns: 7vw auto 7vw;
  grid-template-rows: 12vh auto auto 11vh;
  background-image: url("../images/principal_producto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto; }

.imgprincipal {
  grid-area: 2/1/3/4;
  position: relative;
  width: 100%;
  height: 77vh;
  margin-left: auto;
  margin-right: auto; }

.imgproductos {
  grid-area: 2/2/3/3;
  position: relative;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto; }

/* NAV*/
.nav1, .logo, .login {
  width: 12vh;
  height: 6vw; }
  @media (max-width: 480px) {
    .nav1, .logo, .login {
      flex-grow: 1;
      height: 10vh; } }

.nav1 {
  background-color: #A62B21; }
  @media (max-width: 480px) {
    .nav1 {
      width: 60%; } }

@media (max-width: 480px) {
  .vacio {
    display: none; } }

.logo {
  background-color: #F9B157; }

.logo_img {
  width: 100%;
  display: block;
  padding: 3px;
  padding-top: 12px; }
  @media (max-width: 1024px) {
    .logo_img {
      padding-top: 8px; } }
  @media (max-width: 769px) {
    .logo_img {
      padding-top: 0px; } }
  @media (max-width: 480px) {
    .logo_img {
      padding-top: 3px;
      width: 93%; } }
  @media (max-width: 320px) {
    .logo_img {
      padding-top: 8px;
      width: 100%; } }

.logo_adm {
  width: 10%;
  height: 10%; }
  @media (max-width: 1024px) {
    .logo_adm {
      width: 10%;
      height: 10%; } }
  @media (max-width: 769px) {
    .logo_adm {
      width: 15%;
      height: 15%; } }
  @media (max-width: 480px) {
    .logo_adm {
      width: 26%;
      height: 26%; } }

@media (max-width: 769px) {
  .navbar-collapse {
    flex-basis: 0% !important;
    flex-grow: 0 !important;
    align-items: center !important; } }

.login {
  background-color: #A62B21;
  float: right !important; }

/* boton usuario*/
.label {
  font-weight: 900;
  font-size: 350%;
  margin-bottom: -1%;
  opacity: 0.7; }

.label.prod1.top {
  margin-top: 12%; }

.label.prod1.top_plistproductos {
  margin-top: 5%; }

.top_ensaladas {
  font-size: 300% !important;
  margin-top: 1%; }

.sandwiches {
  font-size: 300% !important; }

.label.prod1 {
  color: #F9B157; }

.label.prod2 {
  color: #A62B21; }

.label.prod3 {
  color: #055969; }

.dropdown-menu.show, .dropdown-menu {
  font-weight: 900;
  font-size: 20px;
  transform: translate3d(-64%, 64%, 0px) !important;
  background-color: #F9B157;
  border-radius: 0px !important; }
  @media (max-width: 1024px) {
    .dropdown-menu.show, .dropdown-menu {
      transform: translate3d(-64%, 45%, 0px) !important; } }
  @media (max-width: 769px) {
    .dropdown-menu.show, .dropdown-menu {
      transform: translate3d(-68%, 34%, 0px) !important; } }
  @media (max-width: 480px) {
    .dropdown-menu.show, .dropdown-menu {
      transform: translate3d(-82%, 33%, 0px) !important; } }
  @media (max-width: 320px) {
    .dropdown-menu.show, .dropdown-menu {
      transform: translate3d(-79%, 33%, 0px) !important; } }

@media (max-width: 480px) {
  .dropdown-item {
    width: 490px !important;
    height: 50px !important; } }

.dropdown-item.label_white:hover {
  background-color: #F9B157 !important;
  color: #A62B21 !important; }

.material-icons.md-48 {
  font-size: 3vw;
  padding-left: 30%;
  padding-top: 19%;
  color: white; }

.dropleft .dropdown-toggle::before {
  content: none !important; }

/* desplegable*/
nav {
  position: relative;
  padding: 0;
  display: block;
  width: 20%;
  height: 0px;
  background: #F9B157;
  transition: all 0.1s ease;
  overflow-y: hidden; }

nav > a {
  display: block;
  height: 30px;
  color: #D4380A;
  padding: 8% 5%;
  text-decoration: none;
  font-size: 25px;
  transition: all 0.3s ease; }
  nav > a:hover {
    color: #A62B21 !important; }

input#menu-btn {
  opacity: 0;
  display: none; }

label#menu-lbl {
  display: flex;
  padding: 0;
  margin-left: 25%;
  margin-top: 15%;
  width: 38px;
  height: 38px;
  cursor: pointer;
  transition: opacity 0.2s ease-in; }
  @media (max-width: 769px) {
    label#menu-lbl {
      margin-left: 25%;
      margin-top: 8%; } }
  @media (max-width: 480px) {
    label#menu-lbl {
      margin-left: 5%;
      margin-top: 5%; } }
  @media (max-width: 320px) {
    label#menu-lbl {
      margin-left: 5%;
      margin-top: 9%; } }
  label#menu-lbl:hover {
    opacity: 0.7; }

input#menu-btn + label::before,
input#menu-btn + label::after {
  z-index: 100;
  position: absolute;
  content: "";
  width: 3%;
  height: 4px;
  background: white;
  margin: 2% 0 0;
  box-shadow: 0px -10px white, 0px 10px white;
  transition: all 0.15s ease-in; }
  @media (max-width: 769px) {
    input#menu-btn + label::before,
    input#menu-btn + label::after {
      width: 4%;
      height: 4px; } }
  @media (max-width: 480px) {
    input#menu-btn + label::before,
    input#menu-btn + label::after {
      width: 7%;
      height: 4px; } }
  @media (max-width: 320px) {
    input#menu-btn + label::before,
    input#menu-btn + label::after {
      width: 9%;
      height: 4px; } }

input#menu-btn:checked + label::before {
  border: none;
  box-shadow: none;
  transform: rotate(45deg); }

input#menu-btn:checked + label::after {
  border: none;
  box-shadow: none;
  transform: rotate(-45deg); }

#menu-btn:checked + #menu-lbl + nav {
  display: block;
  height: 200px;
  width: 192px;
  z-index: 1;
  margin-top: 41%; }
  @media (max-width: 1024px) {
    #menu-btn:checked + #menu-lbl + nav {
      margin-top: 19%; } }
  @media (max-width: 769px) {
    #menu-btn:checked + #menu-lbl + nav {
      margin-top: -8%; } }
  @media (max-width: 480px) {
    #menu-btn:checked + #menu-lbl + nav {
      margin-top: -2%;
      width: 480px; } }
  @media (max-width: 320px) {
    #menu-btn:checked + #menu-lbl + nav {
      margin-top: -4%; } }

.label_white {
  color: white !important;
  font-weight: 900;
  padding-bottom: 29px; }
  @media (max-width: 480px) {
    .label_white {
      padding: 21px 5%; } }

/* FOOTER CLIENTE*/
footer {
  grid-area: 3/1/4/4;
  z-index: 2; }

.footer {
  background-color: #3b56a3;
  height: 50%;
  margin-left: 5%;
  margin-right: 5%; }
  @media (max-width: 480px) {
    .footer {
      height: 100%;
      margin-left: 0%;
      margin-right: 0%; } }

.footerplist {
  background-color: #3b56a3;
  height: 50%;
  margin-left: 5%;
  margin-right: 5%;
  grid-area: 4/1/5/4 !important; }

.rrss {
  width: 3%;
  background-repeat: no-repeat; }
  @media (max-width: 769px) {
    .rrss {
      width: 4%; } }
  @media (max-width: 480px) {
    .rrss {
      display: none; } }

.fb {
  background: url("../images/fb.png");
  background-size: 100% 100%; }

.tw {
  background: url("../images/tw.png");
  background-size: 100% 100%; }

.in {
  background: url("../images/inst.png");
  background-size: 100% 100%; }

.label_footer {
  color: white;
  display: block;
  margin: auto; }
  @media (max-width: 480px) {
    .label_footer {
      text-align: center;
      padding-top: 7px; } }

/* MENU PRODUCTOS CLIENTE*/
.nav {
  grid-area: 2/2/3/3;
  margin-top: 15%; }

.nav_home {
  grid-area: 2/1/3/2;
  display: grid !important;
  grid-template-columns: auto auto;
  grid-template-rows: 38vh 38vh;
  z-index: 2; }

figure.menu {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 2%;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }

figure.menu * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

figure:first-child {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-top: auto;
  grid-area: 1/1/1/1; }

figure:nth-child(2n) {
  width: 40%;
  height: 60%;
  margin-top: auto;
  grid-area: 1/2/2/3; }

figure:nth-child(3n) {
  width: 35%;
  height: 46%;
  margin-left: auto;
  grid-area: 2/1/2/2; }

figure:nth-child(4n) {
  width: 37%;
  height: 40%;
  margin-top: 2%;
  grid-area: 2/2/3/3; }

figure.menu.producto img {
  max-width: 120%;
  position: relative;
  opacity: 0.4; }

figure.menu.local img {
  width: 100%;
  height: 110%;
  position: relative;
  opacity: 0.4; }

figure.menu.contacto img {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.4; }

figure.menu.empresa img {
  width: 100%;
  height: 120%;
  position: relative;
  opacity: 0.4; }

figure.menu figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

figure.menu h2 {
  position: absolute;
  left: 19%;
  right: 16%;
  display: inline-block;
  background: #000000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400; }

figure.menu h2 span {
  font-weight: 800; }

figure.menu:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background: #ffffff;
  position: absolute;
  transition: all 0.3s ease-in-out;
  transform: rotate(110deg) translateY(-50%); }

figure.menu:nth-child(2n):before {
  transform: rotate(110deg) translateY(-35%);
  top: -30px;
  width: 150%; }

figure.menu:nth-child(3n):before {
  transform: rotate(110deg) translateY(-40%);
  width: 120%; }

figure.menu:nth-child(4n):before {
  transform: rotate(110deg) translateY(-5%);
  width: 175%; }

figure.menu a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1; }

figure.menu.producto {
  background: #581a14; }

figure.menu.producto h2 {
  background: #cd6155; }

figure.menu.local {
  background: #f7dc6f; }

figure.menu.local h2 {
  background: #d4ac0d; }

figure.menu.contacto {
  background: #f8c471; }

figure.menu.contacto h2 {
  background: #ca6f1e;
  font-size: 25px; }

figure.menu.empresa {
  background: #7f5006; }

figure.menu.empresa h2 {
  background: #583804; }

figure.menu:hover img,
figure.menu.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

figure.menu:hover h2,
figure.menu.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%); }

figure.menu:hover:before,
figure.menu.hover:before {
  transform: rotate(10deg) translateY(-150%); }

.rrss1 {
  position: relative;
  margin-top: 44%;
  grid-area: 1/3/2/4; }

.fb1 {
  width: 50px;
  height: 50px;
  background: url("../images/fb.png");
  background-size: 50px 50px; }

.tw1 {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  background: url("../images/tw.png");
  background-size: 50px 50px; }

.in1 {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  background: url("../images/inst.png");
  background-size: 50px 50px; }

/* LISTA PRODUCTOS CLIENTE*/
#make-3D-space {
  width: 340px;
  height: 500px;
  transform-style: preserve-3d;
  transition: transform 5s;
  top: 80px; }

#product-front, #product-back {
  width: 110%;
  height: 110%;
  background: #fff;
  position: absolute;
  left: -5px;
  top: -5px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

#product-back {
  display: none;
  transform: rotateY(180deg); }

#product-card.animate #product-back, #product-card.animate #product-front {
  top: 0px;
  left: 0px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

#product-card {
  width: 325px;
  height: 490px;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
  transform-style: preserve-3d;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }
  #product-card:hover {
    top: 5px;
    left: 5px;
    width: 335px;
    height: 500px;
    box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out; }

.stats-container {
  background: #fff;
  position: absolute;
  top: 386px;
  left: 0;
  width: 95%;
  height: 90%;
  padding: 27px 35px 35px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }
  .stats-container .product_name {
    font-size: 22px;
    color: #393c45; }
  .stats-container p {
    font-size: 16px;
    color: #b1b1b3;
    padding: 2px 0 20px 0; }
  .stats-container .product_price {
    float: right;
    color: #48cfad;
    font-weight: 600;
    font-size: 22px; }

#product-card:hover .stats-container {
  top: 272px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

.image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #48daa1;
  opacity: 0; }

#product-card:hover .image_overlay {
  opacity: 0.7;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

.product-options {
  padding: 2px 0 0; }
  .product-options strong {
    font-weight: 700;
    font-size: 14px;
    color: #393c45; }
  .product-options span {
    color: #969699;
    font-size: 14px;
    display: block;
    margin-bottom: 8px; }

#view_details {
  position: absolute;
  top: 112px;
  left: 50%;
  margin-left: -85px;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 700;
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  width: 172px;
  opacity: 0;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }
  #view_details:hover {
    background: #fff;
    color: #48cfad;
    cursor: pointer; }

#product-card:hover #view_details {
  opacity: 1;
  width: 152px;
  font-size: 15px;
  margin-left: -85px;
  top: 115px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

div.shadow {
  width: 335px;
  height: 520px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  background: -o-linear-gradient(right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)); }

#product-back div.shadow {
  z-index: 10;
  opacity: 1;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
  background: -o-linear-gradient(right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
  background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)); }

/* BOTON FLECHA PLIST CARRITO*/
.flecha_btn {
  border: 2px solid #fff;
  color: #fff;
  font-weight: 700;
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  width: 8%;
  height: 90%;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }
  .flecha_btn:hover {
    background: #fff;
    color: #48cfad;
    cursor: pointer; }

.flechas {
  grid-area: 3/2/4/3;
  margin-top: 3%; }

.flechas_comprar {
  margin-top: -3%; }

/* BOTON CARRITO PLIST CARRITO*/
.icon_cart {
  float: right;
  width: 12vh;
  height: 7vh; }

/* BOTON VACIAR CARRITO*/
.btn-amarillo {
  background-color: #F9B157 !important; }

.alerta_carrito_vacio {
  height: 40vh  !important;
  margin-bottom: 2%  !important;
  text-align: center; }

/* PLIST SELECCIONAR RESTAURANTE*/
/* Restaurante pre-seleccionado*/
#product-front-pre, #product-back {
  width: 110%;
  height: 110%;
  background: #A62B21;
  position: absolute;
  left: -5px;
  top: -5px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

#product-card.animate #product-front-pre {
  top: 0px;
  left: 0px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

.stats-container-pre {
  background: #A62B21;
  position: absolute;
  top: 386px;
  left: 0;
  width: 90%;
  height: 95%;
  padding: 27px 35px 35px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

#product-card:hover .stats-container-pre {
  top: 272px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

.stats-container-pre .product_name-pre {
  font-size: 22px;
  color: white;
  text-transform: uppercase; }

.stats-container-pre p {
  font-size: 16px;
  color: white;
  padding: 2px 0 20px 0; }

.product-options-pre {
  padding: 2px 0 0; }

.product-options-pre strong {
  font-weight: 700;
  font-size: 14px;
  color: #393c45; }

.product-options-pre span {
  color: white;
  font-size: 14px;
  display: block;
  margin-bottom: 8px; }

.image_overlay-pre {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #CE8B85;
  opacity: 0; }

#product-card:hover .image_overlay-pre {
  opacity: 0.7;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

#view_details-pre {
  position: absolute;
  top: 112px;
  left: 50%;
  margin-left: -85px;
  border: 2px solid #fff;
  color: white !important;
  font-weight: 700;
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  width: 172px;
  opacity: 0;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }
  #view_details-pre:hover {
    background: #fff !important;
    color: #E9776E !important;
    cursor: pointer; }

#product-card:hover #view_details-pre {
  opacity: 1;
  width: 152px;
  font-size: 15px;
  margin-left: -85px;
  top: 115px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

/* Restaurante area*/
#product-front-area, #product-back {
  width: 110%;
  height: 110%;
  background: #FE8961;
  position: absolute;
  left: -5px;
  top: -5px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

#product-card.animate #product-front-area {
  top: 0px;
  left: 0px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

.stats-container-area {
  background: #FE8961;
  position: absolute;
  top: 386px;
  left: 0;
  width: 95%;
  height: 90%;
  padding: 27px 35px 35px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

#product-card:hover .stats-container-area {
  top: 272px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

.stats-container-area .product_name-area {
  font-size: 22px;
  color: white;
  text-transform: uppercase; }

.stats-container-area p {
  font-size: 16px;
  color: white;
  padding: 2px 0 20px 0; }

.product-options-area {
  padding: 2px 0 0; }

.product-options-area strong {
  font-weight: 700;
  font-size: 14px;
  color: #393c45; }

.product-options-area span {
  color: white;
  font-size: 14px;
  display: block;
  margin-bottom: 8px; }

.image_overlay-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FEB59C;
  opacity: 0; }

#product-card:hover .image_overlay-area {
  opacity: 0.7;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

#view_details-area {
  position: absolute;
  top: 112px;
  left: 50%;
  margin-left: -85px;
  border: 2px solid #fff;
  color: white;
  font-weight: 700;
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  width: 172px;
  opacity: 0;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }
  #view_details-area:hover {
    background: #fff;
    color: #FFE8CB;
    cursor: pointer; }

#product-card:hover #view_details-area {
  opacity: 1;
  width: 152px;
  font-size: 15px;
  margin-left: -85px;
  top: 115px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

/* Restaurante plist*/
#product-front-plist, #product-back {
  width: 110%;
  height: 110%;
  background: #F99339;
  position: absolute;
  left: -5px;
  top: -5px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

#product-card.animate #product-front-plist {
  top: 0px;
  left: 0px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

.stats-container-plist {
  background: #F99339;
  position: absolute;
  top: 386px;
  left: 0;
  width: 95%;
  height: 90%;
  padding: 27px 35px 35px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

#product-card:hover .stats-container-plist {
  top: 272px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

.stats-container-plist .product_name-plist {
  font-size: 22px;
  color: white;
  text-transform: uppercase; }

.stats-container-plist p {
  font-size: 16px;
  color: white;
  padding: 2px 0 20px 0; }

.product-options-plist {
  padding: 2px 0 0; }

.product-options-plist strong {
  font-weight: 700;
  font-size: 14px;
  color: #393c45; }

.product-options-plist span {
  color: white;
  font-size: 14px;
  display: block;
  margin-bottom: 8px; }

.image_overlay-plist {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FCD9B6;
  opacity: 0; }

#product-card:hover .image_overlay-plist {
  opacity: 0.7;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

#view_details-plist {
  position: absolute;
  top: 112px;
  left: 50%;
  margin-left: -85px;
  border: 2px solid #fff;
  color: white;
  font-weight: 700;
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  width: 172px;
  opacity: 0;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }
  #view_details-plist:hover {
    background: #fff;
    color: #FFE8CB;
    cursor: pointer; }

#product-card:hover #view_details-plist {
  opacity: 1;
  width: 152px;
  font-size: 15px;
  margin-left: -85px;
  top: 115px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

/* OPCION LOCAL O DOMICILIO*/
.label.prod4 {
  color: #F9B157;
  font-size: 50px; }

.label.prod4.top_domicilio {
  margin-top: 4%; }

/*  DOMICILIO*/
.label_domicilio {
  font-weight: 900;
  font-size: 40px;
  color: #F9B157;
  margin-top: 4%; }

.paso_img {
  width: 8%;
  height: auto;
  max-width: 8%; }

.nav_domicilio {
  margin-top: 39%; }

.nav_carrito {
  margin-top: 10%; }

.bebida_img {
  width: 110%;
  height: 110%;
  padding-top: 5%; }

.navbar-brand {
  width: 55% !important; }

.link_registrarse {
  font-size: 72%; }

@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1, 1);
    color: #FFC57C; }
  50% {
    transform: scale(1.2, 1.2);
    color: #FFC57C; }
  100% {
    transform: scale(1, 1);
    color: #FFC57C; } }
/*  usuario logeado*/
.con-clase {
  color: #F9B157 !important;
  animation: zoominoutsinglefeatured 2s 1 !important;
  font-size: 4vw !important;
  padding-left: 18% !important;
  padding-top: 15% !important; }
  @media (max-width: 769px) {
    .con-clase {
      padding-left: 30% !important; } }
  @media (max-width: 480px) {
    .con-clase {
      padding-left: 23% !important;
      font-size: 10vw !important;
      padding-top: 5% !important; } }
  @media (max-width: 320px) {
    .con-clase {
      padding-left: 21% !important;
      font-size: 12vw !important;
      padding-top: 15% !important; } }
  .con-clase:hover {
    color: white !important; }

.viewusuariocliente {
  margin-top: 13% !important; }

.navlogin {
  grid-area: 2/2/3/3;
  margin-top: 10%;
  min-height: 46vh; }

.navlogin2 {
  grid-area: 2/2/3/3;
  margin-top: 6%;
  min-height: 46vh; }

.navcontrasena {
  grid-area: 2/2/3/3;
  margin-top: 14%;
  min-height: 46vh; }

.navlinea {
  grid-area: 2/2/3/3;
  margin-top: 10%;
  min-height: 60vh; }

.top_perfil {
  margin-top: 1%; }

.nav_registrarse {
  margin-top: 8% !important; }

.navperfil {
  grid-area: 1/2/2/3;
  margin-top: 4%; }

.navpass {
  grid-area: 1/2/2/3;
  margin-top: 9%; }

.rest_homeadm {
  left: 8% !important; }
  @media (max-width: 1024px) {
    .rest_homeadm {
      left: 3% !important; } }
  @media (max-width: 769px) {
    .rest_homeadm {
      left: 30% !important; } }

.top_plistperfil {
  margin-top: 0%; }

.img_empresa {
  width: 100%;
  height: 100%; }

.img_empresa2 {
  width: 100%;
  height: 100%; }

.rrss2 {
  width: 100px;
  height: 76px; }

#badge {
  background-color: #21c999;
  color: white;
  font-size: 100%;
  position: relative;
  transform: rotate(-50deg);
  border-radius: 10px;
  padding: 10%;
  z-index: 0;
  text-align: center;
  width: 30px;
  height: 30px;
  top: 10px;
  left: 12px; }

.img_cart {
  width: 72% !important;
  height: 100% !important;
  z-index: 3 !important;
  color: #A62B21;
  position: relative; }

.material-icons.md {
  font-size: 300%; }

.registrarseok {
  height: 200% !important; }

.header {
  grid-area: 1 / 1 / 2 / 4; }

.titulo {
  /*    grid-area: 2 / 2 / 3 / 3;  */ }

/*# sourceMappingURL=style.css.map */
