<header-component></header-component>
<nav-component></nav-component>
<div class="container-fluid">
     <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3">


                </div>
  <div class="row">
    <div class="col-12">
<h1 class="h2 mt-3"><i class="fas far fa-file fa-1x"></i> 
                Zona {{obj_Restaurante.restaurante}}</h1>
         <div class="col-5 mx-auto container2 pl-3 pr-3">
          <div class="row mt-4">
                <div class=" mx-auto">
                    <h4 class="text-center mb-3"><i class="material-icons">add_circle_outline</i> Editar zona</h4>
                </div>
            </div>
        
        
     
        <div class=" mx-auto">
               <div class="alert alert-success" role="alert" ng-show="(visualizar)">
                Zona editada correctamente.
            </div>
          <form name="userForm" ng-show="(!visualizar)">
            <div class="form-group">
              <label>ID</label>
              <input type="text" class="form-control" id="id" name="id" ng-disabled="true" ng-model="id" />
            </div>
               <label for="obj_municipio">Municipio:</label>
                        <div class="form-group row ml-3">
                            <municipio-selection 
                                class="modal fade" 
                                id="cadd-location-modal" 
                                obj="obj_Municipio"
                                on-tipousuario-set="municipioRefresh(this,false)">                          
                            </municipio-selection>

                            <div class="control">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                              data-toggle="modal"
                                              data-target="#cadd-location-modal">
                                            <span class="material-icons mr-2">youtube_searched_for</span>
                                        </span>
                                    </div>
                                    <input ng-model="obj_Municipio.id"
                                           ng-change="municipioRefresh(this, true)"
                                           aria-describedby="basic-addon2"
                                           class="form-control col-sm-2"
                                           id="obj_municipio"
                                           name="obj_municipio"
                                           type="text"
                                           ng-required
                                           ng-model-options="{debounce: 1000}"
                                           maxlength="2" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <a href="/wildcart/municipio/view/{{obj_Municipio.id}}">
                                               <span class="p-2 bd-highlight"><i class="material-icons">
                                                       account_circle
                                                    </i></span>
                                                Población: {{obj_Municipio.municipio}}
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div ng-show="!userForm.obj_municipio.$valid">Población: no válida</div>
                            </div>
                        </div>
         
   
            <button ng-click="update()" type="button" class="btn btn-primary btn-block" ng-disabled="userForm.$invalid">Editar zona</button>
         
          </form> 
             <div class="alert alert-success" role="alert" ng-show="(error)">
                Error al editar la zona.
            </div>
            <button type="button" class="btn btn-primary btn-block mt-2 mb-3" ng-click="volver()">Volver</button>

          
        </div>
      </div>
    </div>
  </div>
</div>
      