<div class="body_plist body_cliente">
  <div class="header d-flex">
    <div class="nav1">

        <input type="checkbox" id="menu-btn" name="Menu">
        <label id="menu-lbl" for="menu-btn"></label>
        <nav itemscope itemtype="http://schema.org/SiteNavigationElement" >
            <a class="label_white" ng-click="productos()">PRODUCTOS</a>
            <a class="label_white"  ng-click="locales()">LOCALES</a>
            <a class="label_white" ng-click="empresa()">EMPRESA</a>
            <a class="label_white" ng-click="contacto()">CONTACTO</a>
        </nav>
    </div>
    <div class="logo">
        <a href="/delivery/home">
            <img src="images/logo.png" class="logo_img" alt="Responsive image">
        </a>
    </div>
    <div class="vacio flex-grow-1"></div>
    <div class="login">
        <div class="dropleft">
            <div  class="icono_usuario dropdown-toggle" data-toggle="dropdown">
                <i class="material-icons md-48" ng-class="{'con-clase': logged}">
                    account_circle
                </i> 
            </div>
            <div class="dropdown-menu">
                <a class="dropdown-item label_white"  ng-show="!logged" href="usuario/registrarse"><i class="fas fa-user"> </i>    REGISTRARSE</a>  
                <a class="dropdown-item label_white" ng-show="!logged" href="usuario/login"><i class="fas fa-user"> </i>    LOGIN</a>
                <a class="dropdown-item label_white" ng-show="logged" href="usuario/viewusuariocliente/{{loggeduserid}}"><i class="fas fa-user"> </i>  PERFIL</a>
                <a class="dropdown-item label_white" ng-show="logged" href="factura/facturacliente/10/1/{{loggeduserid}}"><i class="fas far fa-file"></i>  VER FACTURAS</a>
                <a class="dropdown-item label_white" ng-show="logged" href="usuario/logout"><i class="fas fa-sign-out-alt"></i>  LOGOUT</a>
            </div>
        </div>
    </div>

  </div>
    <div class="imgproductos">

        <div class="label prod1 top_perfil">TUS FACTURAS</div>

    </div>

    <div class="nav viewusuariocliente d-flex  justify-content-center">
        <div class="container-fluid">
            <div class="row">
                <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">

                    <div class="col-md-12 ml-sm-auto col-lg-12 mt-3">
                        <div class="btn-toolbar mb-2 mb-md-0 float-left">
                            <div class="btn-group" style="width:270px; margin-left: -5%;">
                                <p class="mt-2" style="width:200px; color: white;">Registros por pagina:</p>
                                <select class="form-control form-size" 
                                        ng-change="update()" 
                                        ng-model="rpp">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                </select>
                            </div>

                            <button type="button" class="btn btn-just-icon btn-sm mt-3 reseticon" ng-click="resetOrder()">
                                <i class="material-icons">cached</i>
                            </button>
                        </div>

                    </div> 

                    <div class="table-responsive container2 mb-5 pl-3 pr-3">
                        <table class="table table-sm text-center">
                            <tr>
                                <th>
                                    <p ng-click="sortBy('fecha')">FECHA</p>
                                </th>     <th>
                                    <p ng-click="sortBy('iva')">IVA</p>
                                </th>     <th>
                                    <p ng-click="sortBy('direccion_pedido')">DIRECCION DEL PEDIDO</p>
                                </th>
                                <th>
                                    <p ng-click="sortBy('direccion_pedido')">POBLACION DEL PEDIDO</p>
                                </th>
                                <th>
                                    <p ng-click="sortBy('obj_Restaurante.nombre')">RESTAURANTE</p>
                                </th>
                                <th>
                                    <p>PRODUCTOS</p>
                                </th>
                            <tr ng-repeat="fila in ajaxDataFactura| orderBy:propertyName:reverse">
                                <td>{{fila.fecha}}</td>
                                <td>{{fila.iva}}</td> 
                                <td>{{fila.direccion_pedido}}</td>  
                                <td>{{fila.direccion_pedido}}</td>
                                <td>{{fila.obj_Restaurante.nombre}}</td>
                                <td><button type="button" rel="tooltip" class="btn btn-just-icon btn-sm" data-original-title="" title="" ng-click="linea(fila.id)" ng-disabled="{{fila.link_linea}}== 0">{{fila.link_linea}}
                                    </button></td>

                            </tr>

                        </table>
                    </div>
            <div class="col-md-12 ml-sm-auto col-lg-12 mb-5">  
            <div class="row d-flex justify-content-center flex-wrap align-items-center">
                         <div aria-label="paginacion">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link text-pagination bg-light" ng-show="page > 2" href="{{ob}}/facturacliente/{{rpp}}/1/{{id}}/{{order}}/{{align}}"><span aria-hidden="true">&laquo;</span></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link text-pagination bg-light" ng-show="page > 1" href="{{ob}}/facturacliente/{{rpp}}/{{page - 1}}/{{id}}/{{order}}/{{align}}"> <span aria-hidden="true">&lsaquo;</span></a>
                            </li>
                            <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                                <a class="page-link text-pagination" href="{{ob}}/facturacliente/{{rpp}}/{{p}}/{{id}}/{{order}}/{{align}}">{{p}}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link text-pagination bg-light" ng-show="page != totalPages" href="{{ob}}/facturacliente/{{rpp}}/{{page--1}}/{{id}}/{{order}}/{{align}}"><span aria-hidden="true">&rsaquo;</span></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link text-pagination bg-light" ng-show="page != totalPages - 1 && page != totalPages" href="{{ob}}/facturacliente/{{rpp}}/{{totalPages}}/{{id}}/{{order}}/{{align}}"><span aria-hidden="true">&raquo;</span></a>
                            </li>
                        </ul>
                    </div>
                </div>



            </div>

                    <div class="flechas_comprar">
                        <div  ng-click="volver()" class="flecha_btn mr-5"><i class="material-icons">
                                arrow_back_ios
                            </i></div>
                    </div> 
                </main>

            </div>


        </div>

    </div>

    <div class="footerplist d-flex mt-3">
        <div class="rrss tw"></div>
        <div class="rrss fb"></div>
        <div class="rrss in"></div>
        <div class="label_footer">PROYECTO FINAL - DAW - JAUME MONZONIS LAZARO</div>
    </div>
</div>

