<header-component></header-component>
<nav-component></nav-component>


<div class="container-fluid">


    <div class="row">
        <div class="col-12">

            <div class="row">
                <div class="col-5 mx-auto container2 pl-3 pr-3 mt-3">
                    <div class="row mt-5">
                        <div class="col-12 mx-auto">
                            <h4 class="text-center mb-3"><i class="material-icons">
                                    add_circle_outline</i> 
                                Nueva factura de {{nombre2}} {{ape1}}</h4>
                        </div>
                    </div>
                    <form name="userForm" ng-show="!visualizar">
                       
                        <div class="form-group" ng-class="{ 'has-error' : userForm.fecha.$invalid && !userForm.fecha.$pristine }">
                            <div class="row">
                                <div class="col-12">
                                    <label>FECHA</label>
                                </div>
                                <div class="col-12">
                                    <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>IVA</label>
                            <input type="text" class="form-control" id="iva" name="iva" ng-model="iva" ng-required="true" placeholder="IVA" />
                            <div ng-show="!userForm.iva.$valid && !userForm.iva.$pristine" class="alert alert-danger" role="alert">
                                IVA obligatorio
                            </div>
                        </div>
                 
                           <label for="obj_restaurante">RESTAURANTE:</label>
                        <div class="form-group row ml-3">
                            <restaurante-selection 
                                class="modal fade" 
                                id="cadd-location-modal" 
                                obj="obj_Restaurante"
                                on-tipousuario-set="restauranteRefresh(this,false)">                          
                            </restaurante-selection>

                            <div class="control">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                              data-toggle="modal"
                                              data-target="#cadd-location-modal">
                                            <span class="material-icons mr-2">youtube_searched_for</span>
                                        </span>
                                    </div>
                                    <input ng-model="obj_Restaurante.id"
                                           ng-change="restauranteRefresh(this, true)"
                                           aria-describedby="basic-addon2"
                                           class="form-control col-sm-2"
                                           id="obj_restaurante"
                                           name="obj_restaurante"
                                           type="text"
                                           ng-required
                                           ng-model-options="{debounce: 1000}"
                                           maxlength="2" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <a href="/delivery/restaurante/view/{{obj_Restaurante.id}}">
                                               <span class="p-2 bd-highlight"><i class="material-icons">
                                                       account_circle
                                                    </i></span>
                                                RESTAURANTE: {{obj_Restaurante.nombre}}
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div ng-show="!userForm.obj_restaurante.$valid">Restaurante no válido</div>
                            </div>
                        </div>


                        <div class="d-flex justify-content-between flex-wrap">
                            <button ng-click="update()" type="button" class="btn btn-primary btn-block mb-3" ng-disabled="userForm.$invalid">Crear</button>
                            <button type="button" class="btn btn-primary btn-block mb-3" onclick="window.history.back()">Volver</button>
                        </div>

                        </form>
           
            <div class="row" ng-show="visualizar">
                <div class="col-5 mx-auto">
                    <div class="alert alert-success" role="alert">
                        <p class="text-center mt-2"> Factura creada correctamente.<p> 
                    </div>
                    <button type="button" class="btn btn-primary btn-block mt-2 mb-3" onclick="window.history.back()">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
    