<header-component></header-component>
<nav-component></nav-component>
<div class="container-fluid">

    <div class="row">
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">

            <h1 class="h2 mt-3"><i class="fas far fa-file fa-1x"></i> {{nombre2}} {{ape1}}</h1>



            <div class="col-md-12 ml-sm-auto col-lg-12 mt-3" ng-show="ajaxDataUsuarios != 0">
               <div class="btn-toolbar mb-2 mb-md-0 float-left">
                        <div class="btn-group" style="width:270px; margin-left: -5%;">
                            <p class="mt-2" style="width:200px;">Registros por pagina:</p>
                            <select class="form-control form-size" 
                                    ng-change="update()" 
                                    ng-model="rpp">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                            </select>
                        </div>

                        <button type="button" class="btn btn-just-icon btn-sm mt-3 reseticon" ng-click="resetOrder()">
                            <i class="material-icons">cached</i>
                        </button>
                    </div>
                 <div class="float-right create_btn_margin">
                    <a href="{{ob}}/newxusuario/{{id}}" class="btn btn-rojo btn-sm  float-right" role="button" aria-pressed="true" ng-show="ajaxDataUsuariosNumber != 0" ng-if="tipousuarioID == 1"><i class="material-icons">
                            add_circle_outline</i> Crear nueva factura</a>

                </div>
            </div>




            <div class="table-responsive container2 mb-2 pl-3 pr-3 pt-3">

                <div class="alert alert-warning text-center" ng-show="ajaxDataUsuarios == 0">
                    <strong>{{nombre2}} {{ape1}}</strong> no tiene facturas.
                </div>




                <table class="table table-sm text-center" ng-show="ajaxDataUsuarios != 0">
                    <tr>
                      <th>
                            <p ng-click="sortBy('id')">ID</p>
                        </th>
                         <th>
                            <p ng-click="sortBy('fecha')">FECHA</p>
                        </th>
                         <th>
                            <p ng-click="sortBy('iva')">IVA</p>
                        </th>
                         <th>
                            <p ng-click="sortBy('direccion_pedido')">DIRECCION PEDIDO</p>
                        </th>
                         <th>
                            <p ng-click="sortBy('poblacion_pedido')">POBLACION PEDIDO</p>
                        </th>
                        <th>
                            <p ng-click="sortBy('restaurante')">RESTAURANTE</p>
                        </th>
                        <th> 
                            <p>ACCIONES</p> 
                        </th>
                    </tr>
                    <tr ng-repeat="fila in ajaxDataUsuarios| orderBy:propertyName:reverse">
                        <td>{{fila.id}}</td>
                        <td>{{fila.fecha}}</td>
                        <td>{{fila.iva}}</td>
                        <td>{{fila.direccion_pedido}}</td>
                        <td>{{fila.poblacion_pedido}}</td>
                        <td><a class="hover-ajena" href="restaurante/view/{{fila.obj_Restaurante.id}}">{{fila.obj_Restaurante.nombre}}</a></td>
                        <td><button type="button" rel="tooltip" class="btn btn-just-icon btn-sm" data-original-title="" title="" ng-click="linea(fila.id)" ng-disabled="{{fila.link_linea}}== 0">{{fila.link_linea}}
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-just-icon btn-sm" ng-click="view(fila.id)">
                                <i class="material-icons">visibility</i>
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-just-icon btn-sm" ng-click="edit(fila.id)">
                                <i class="material-icons">create</i>
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-just-icon btn-sm" ng-click="remove(fila.id)">
                                <i class="material-icons">delete_forever</i>
                            </button></td>
                    </tr>
                </table>

            </div>
            <div class="col-md-12 ml-sm-auto col-lg-12 mb-5">  
            <div class="row d-flex justify-content-center flex-wrap align-items-center">
                    <div aria-label="paginacion">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link text-pagination bg-light" ng-show="page > 2" href="{{ob}}/plistxusuario/{{rpp}}/1/{{id}}/{{order}}/{{align}}"><span aria-hidden="true">&laquo;</span></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link text-pagination bg-light" ng-show="page > 1" href="{{ob}}/plistxusuario/{{rpp}}/{{page - 1}}/{{id}}/{{order}}/{{align}}"> <span aria-hidden="true">&lsaquo;</span></a>
                            </li>
                            <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                                <a class="page-link text-pagination" href="{{ob}}/plistxusuario/{{rpp}}/{{p}}/{{id}}/{{order}}/{{align}}">{{p}}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link text-pagination bg-light" ng-show="page != totalPages" href="{{ob}}/plistxusuario/{{rpp}}/{{page--1}}/{{id}}/{{order}}/{{align}}"><span aria-hidden="true">&rsaquo;</span></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link text-pagination bg-light" ng-show="page != totalPages - 1 && page != totalPages" href="{{ob}}/plistxusuario/{{rpp}}/{{totalPages}}/{{id}}/{{order}}/{{align}}"><span aria-hidden="true">&raquo;</span></a>
                            </li>
                        </ul>
                    </div>
                </div>



            </div>
            <div class="row">
                <div class="col-md-12 ml-sm-auto col-lg-12">
                     <div class="float-right">
                       <div class="button_edit">
                 <button type="button" class="btn btn-block btn-sm" ng-click="volver()">Volver a usuario</button>
    </div> 

                </div>
                </div>
            </div>
            
            
        </main>
    </div>
</div>
